@{
    var cols2 = "4,6";     //2 columns per row
}

<style nonce="@_Fun.Nonce">
    /* set scroll table column width(base 1) */
    #tableItem th:nth-child(1), #tableItem td:nth-child(1) {
        flex-basis: 60px;
    }

    #tableItem th:nth-child(2), #tableItem td:nth-child(2) {
        flex-basis: 200px;
    }
    /* get remain width */
    #tableItem th:nth-child(3), #tableItem td:nth-child(3) {
        flex-grow: 1;
    }

    .xu-items{
        width: 560px; 
        height: 520px;
    }

    .xu-tbody{
        height: 315px;
    }
</style>

<!-- main table edit form -->
<form id='eform' class='x-form'>
    @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Id" })

    <div class="row">
        <!-- left columns -->
        <div class="col-md-5">
            @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "專案", Fid = "ProjectId", Rows = ViewBag.Projects, Required = true, Cols = cols2, FnOnChange = "_me.onChangeProject" })
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = "功能代碼", Fid = "ProgCode", MaxLen = 30, Required = true, Cols = cols2 })
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = "功能名稱", Fid = "ProgName", MaxLen = 30, Required = true, Cols = cols2 })

            <div class="row">
                <div class="col-md-4 x-label">查詢功能</div>
                <div class="col-md-8 pt-1">
                    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "HasExport", IsCheck = true, Label = "匯出" })
                    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "HasReset", IsCheck = true, Label = "重設" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 x-label">維護功能</div>
                <div class="col-md-8 pt-1">
                    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "HasCreate", IsCheck = true, Label = "新增" })
                    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "HasUpdate", IsCheck = true, Label = "修改" })
                    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "HasDelete", IsCheck = true, Label = "刪除" })
                    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "HasView", IsCheck = true, Label = "檢視" })
                </div>
            </div>
            @await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = "資料狀態", Fid = "Status", IsCheck = true, Label = "啟用", Cols = cols2 })
        </div>

        <!-- right columns -->
        <div class="col-md-6">
            @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "權限種類", Fid = "AuthType", Rows = ViewBag.AuthTypes, Required = true, Cols = cols2 })
            @await Component.InvokeAsync("XiRadio", new XiRadioDto { Title = "查詢Label位置", Fid = "LabelHori", Rows = _Str.ToIdStrs("1,水平,0,垂直"), Cols = cols2 })
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = "Table別名", Fid = "TableAs", MaxLen = 10, Cols = cols2, TitleTip = "資料表別名" })
            @await Component.InvokeAsync("XiTextarea", new XiTextareaDto { Title = "讀取資料 Sql", Fid = "ReadSql", Required = true, TitleTip = "讀取資料 Sql", Cols = "4,8", RowsCount = 5 })
        </div>
    </div>
</form>

<!-- find buttons -->
<div class="x-btns-box">
    <span class="x-span-label">查詢條件欄位</span>
    <button type='button' class='btn btn-secondary' data-onclick='_me.onOpenItem' data-args='Q'>選取欄位</button>
</div>

<!-- find field -->
<form class='x-form border-0'>
    <table class="table x-table x-no-hline" cellspacing="0">
        <thead>
            <tr>
                <th>欄位</th>
                <th>欄位名稱</th>
                <th>資料型態</th>
                <th>Table別名</th>
                <th>欄位種類</th>
                @await Component.InvokeAsync("XgTh", new XgThDto { Title = "欄位資料", Tip = "下拉欄位/Radio:資料來源, checkbox:label" })
                <th>比對方式</th>
                @await Component.InvokeAsync("XgTh", new XgThDto { Title = "起迄", Tip = "是否包含起迄欄位, 通常用於日期欄位" })
                @await Component.InvokeAsync("XgTh", new XgThDto { Title = "群組", Tip = "相同的群組將排在同一列" })
                @await Component.InvokeAsync("XgTh", new XgThDto { Title = "佈局", Tip = "Label,欄位寬度(逗號分隔)" })
                @await Component.InvokeAsync("XgTh", new XgThDto { Title = "進階", Tip = "以下為進階查詢畫面欄位" })
                <th>維護</th>
            </tr>
        </thead>
        <!-- body match tplQitem -->
        <tbody id="tbodyQitem"></tbody>
    </table>
</form>

<!-- query result buttons -->
<div class="x-btns-box">
    <span class="x-span-label">查詢結果欄位</span>
    @await Component.InvokeAsync("XgAddRow", "_me.onRitemAdd")
    <button type='button' class='btn btn-secondary' data-onclick='_me.onOpenItem' data-args='R'>選取欄位</button>
</div>

<!-- query result fields -->
<form class='x-form border-0'>
    <table class="table x-table x-no-hline" cellspacing="0">
        <thead>
            <tr>
                <th>欄位</th>
                <th>欄位名稱</th>
                @await Component.InvokeAsync("XgTh", new XgThDto { Title = "寬度", Tip = "0或空白表示寬度為自動調整" })
                <th>欄位種類</th>
                @*await Component.InvokeAsync("XgTh", new XgThDto { Title = R["ItemData"].Value, Tip = R["TipItemDataR"].Value })*@
                <th>維護</th>
            </tr>
        </thead>
        <!-- body 搭配 tplRitem -->
        <tbody id="tbodyRitem"></tbody>
    </table>
</form>

<!--template: edit form Qitem -->
<script id="tplQitem" type="text/template">
    <tr class="xu-tr">
    @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Id" })
    @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "CrudId" })
    @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "ColumnId" })
    @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Sort" })

        <td>{{Code}}</td>
        <td>{{Name}}</td>
        <td class="x-w120">{{DataType}}</td>
        <td class="x-w80">@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "TableAs" })</td>
        <td>@await Component.InvokeAsync("XiSelect", new XiSelectDto
       {
           Fid = "InputType",
           Rows = ViewBag.InputTypesQ,
           AddEmpty = false,
           Value = "T"
       })</td>
        <td>@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "ItemData" })</td>
        <td>@await Component.InvokeAsync("XiSelect", new XiSelectDto
       {
           Fid = "Op",
           Rows = ViewBag.QitemOps,
           AddEmpty = false,
           Value = "Equal"
       })</td>
    @*<td>@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "ExtInfo" })</td>*@
        <td class="x-center x-w60">@await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "IsRange" })</td>
        <td class="x-w80">@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "PosGroup" })</td>
        <td class="x-w80">@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "LayoutCols" })</td>
        <td class="x-center x-w60">@await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "IsFind2" })</td>
        <td class="x-center x-w100">@await Component.InvokeAsync("XgDeleteUpDown", new { mName = "_me.mQitem" })</td>
    </tr>
</script>

<!--template: eidt form Ritem -->
<script id="tplRitem" type="text/template">
    <tr class="xu-tr">
        @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Id" })
        @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "CrudId" })
        @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Sort" })

        <td>@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "ColumnCode" })</td>
        <td>@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "Name" })</td>
        <td class="x-w100">@await Component.InvokeAsync("XiInt", new XiIntDto { Fid = "Width" })</td>
        <td>@await Component.InvokeAsync("XiSelect", new XiSelectDto { Fid = "RitemType", Rows = ViewBag.RitemTypes, AddEmpty = false, Value = "0" })</td>
        <td class="text-center x-w100">@await Component.InvokeAsync("XgDeleteUpDown", new { mName = "_me.mRitem" })</td>
    </tr>
</script>

<!-- Table edit form nav/tab/buttons -->
<div class="x-btns-box">
    <span class="x-span-label">編輯畫面</span>
    <button type='button' class='btn btn-secondary' data-onclick='_me.onEtableAdd'>新增</button>
    <button type='button' class='btn btn-secondary' data-onclick='_me.onEtableDelete'>刪除</button>
    <button type='button' class='btn btn-secondary' data-onclick='_me.onEtableLeft'>左移</button>
    <button type='button' class='btn btn-secondary' data-onclick='_me.onEtableRight'>右移</button>
</div>
<ul class="nav nav-tabs" id="navEtable"></ul>
<div class="tab-content" id="tabEtable"></div>
<vc:xg-save-back/>

<!-- template: edit form nav, use index to connect nav tab -->
<script id="tplNavEtable" type="text/template">
    <li class='nav-item' data-index='{{Index}}'>
        <a class='nav-link' data-bs-toggle='tab' href='#divEtable{{Index}}' data-onclick='_me.onEtableNav' data-args='{{Index}}'>
        </a>
    </li>
</script>

<!-- template: CrudEdit edit form tab, layout/width fields are dynamic switch -->
<script id="tplTabEtable" type="text/template">
    <div class="tab-pane xu-edit" id="divEtable{{Index}}">
        <!-- x-form also for myCrud.js -->
        <form class='x-form border-0 mt-3' data-index="{{Index}}">
            @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Id" })
            @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Sort" })

            <div class="row">
                <div class="col-md-5">
                    @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "資料表", Fid = "TableId", Required = true, Cols = cols2, FnOnChange = "_me.onChangeNowTable", EventArgs = "{{Index}}" })
                    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "主鍵Id", Fid = "PkeyFid", MaxLen = 10, Required = true, Cols = cols2 })
                    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "外鍵Id", Fid = "FkeyFid", MaxLen = 10, Cols = cols2, TitleTip = "2nd Table則為必填" })
                    @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "自動Id長度", Fid = "AutoIdLen", Rows = ViewBag.AutoIdLens, Cols = cols2 })
                </div>
                <div class="col-md-6">
                    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "Order By", Fid = "OrderBy", MaxLen = 10, Cols = cols2, TitleTip = "不含 order by 關鍵字" })
                    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = "Col4", Fid = "Col4", Label = "是", Cols = cols2, TitleTip = "是否有 Creator,Created,Reviser,Revised" })
                    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = "一半寬度", Fid = "HalfWidth", Label = "是", Cols = cols2, TitleTip = "多筆編輯畫面使用一半寬度" })
                </div>
            </div>
        </form>

        <div class="x-btns-box">
            <span class="x-span-label">編輯欄位</span>
            <button type='button' class='btn btn-secondary' data-onclick='_me.onOpenItem' data-args='E'>選取欄位</button>
        </div>
        <form class="xu-form2">
            <table class="table x-table x-no-hline" cellspacing="0">
                <thead>
                    <tr>
                        <th>欄位/欄位名稱<br>資料型態</th>
                        <th>欄位種類</th>
                        @await Component.InvokeAsync("XgTh", new XgThDto { Title = "欄位資料", Tip = "下拉欄位/Radio:資料來源, checkbox:label, 唯讀:fid" })
                        <th>必填</th>
                        <th>新增</th>
                        <th>修改</th>
                        <th>提示</th>
                        <th>預設值</th>
                        <th>驗証方式</th>
                        <th>驗証資料</th>
                        @await Component.InvokeAsync("XgTh", new XgThDto { Title = "群組", Tip = "相同的群組將排在同一列" })
                        <!-- xu-layout, xu-width for control show/hide -->
                        @await Component.InvokeAsync("XgTh", new XgThDto { Title = "佈局", Tip = "Label,欄位寬度(逗號分隔)", ClsExt = "xu-layout" })
                        <th class="xu-width">寬度</th>
                        <th>維護</th>
                    </tr>
                </thead>
                <!-- tbody tr 內容為 tplEitemTr -->
                <tbody></tbody>
            </table>
        </form>
    </div>
</script>

<!-- template: edit form Eitem, xu-tr for myCrud.js, show fields use mustache render to fill -->
<script id="tplEitemTr" type="text/template">
    <tr class="xu-tr">
        @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Id", Value = "{{Id}}" })
        @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "ColumnId", Value = "{{ColumnId}}" })
        @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Sort", Value = "{{Sort}}" })

        <td>{{Code}}/{{Name}}<br>{{DataType}}</td>
        <td class="x-w120">@await Component.InvokeAsync("XiSelect", new XiSelectDto { Fid = "InputType", Rows = ViewBag.InputTypes, Required = true, AddEmpty = false, Value = "T" })</td>
        <td class="x-w100">@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "ItemData" })</td>
        <td class="x-center x-w50">@await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "Required" })</td>
        <td class="x-center x-w50">@await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "HasCreate", IsCheck = true })</td>
        <td class="x-center x-w50">@await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "HasUpdate", IsCheck = true })</td>
        <td class="x-w100">@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "PlaceHolder" })</td>
        <td class="x-w80">@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "DefaultValue" })</td>
        <td class="x-w100">@await Component.InvokeAsync("XiSelect", new XiSelectDto { Fid = "CheckType", Value = "0", Rows = ViewBag.CheckTypes, Required = true, AddEmpty = false })</td>
        <td class="x-w100">@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "CheckData" })</td>
        <td class="x-w60">@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "PosGroup" })</td>
        <td class="xu-layout x-w80">@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "LayoutCols" })</td>
        <td class="xu-width x-w80">@await Component.InvokeAsync("XiInt", new XiIntDto { Fid = "Width" })</td>
        <td class="text-center  x-w100">@await Component.InvokeAsync("XgDeleteUpDown", new { mName = "_me.mEitem" })</td>
    </tr>
</script>

<!-- multiple row template, must set width, Nullable set false first then front side will set it -->
<!-- modal: Read item, shared -->
<div id="modalItems" class="modal fade x-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content xu-items">
            <div class="modal-header">
                <div class="modal-title">選取查詢欄位</div>
                <button type='button' class='btn-close px-2 py-2' data-bs-dismiss='modal'></button>
            </div>
            <div class="modal-body">
                <div class="row x-row mx-1 my-1">
                    <div class="col-md-2 x-right pt-1">
                        Table
                    </div>
                    <div class="col-md-6">
                        @* 動態讀取下拉欄位資料來源 *@
                        @await Component.InvokeAsync("XiSelect", new XiSelectDto { Fid = "TableId", FnOnChange = "_me.onChangeItemTable" })
                    </div>
                    <div class="col-md-4 x-right">
                        <button type="button" class="btn btn-primary" data-onclick="_me.onItemModalOk">確定</button>
                    </div>
                </div>

                <!-- query result list -->
                <table id="tableItem" class="table x-table x-table-vscroll w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>選取</th>
                            <th>欄位</th>
                            <th>欄位名稱</th>
                        </tr>
                    </thead>
                    <!-- match tplItemTr -->
                    <tbody class="xu-tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- template: modal Items list row, data property is case insense !! -->
<script id="tplItemTr" type="text/template">
    <tr data-id='{{Id}}'
        data-code='{{Code}}'
        data-name='{{Name}}'
        data-datatype='{{DataType}}'>
        <td>
            @await Component.InvokeAsync("XiCheck", new XiCheckDto { Fid = "_check0" })
        </td>
        <td>{{Code}}</td>
        <td>{{Name}}</td>
    </tr>
</script>
