<script nonce="@_Fun.Nonce" src="~/js/view/MyCrud.js"></script>
<script nonce="@_Fun.Nonce">
    $(function () {
        _me.init();
    });
</script>

<vc:xg-prog-path />
<div class="x-prog">
    <!-- read form-->
    <div id="divRead">
        <!-- condition -->
        <form id='formRead' class='x-form mb-0'>
            <div class="row">
                @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "專案", Fid = "ProjectId2", Rows = ViewBag.Projects, InRow = true })
                @await Component.InvokeAsync("XgFindTbar")
            </div>
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = "功能代碼", Fid = "ProgCode" })
        </form>

        <!-- other functions -->
        <div class="x-btns-box mt-1">
            <vc:xg-create/>
            <button type="button" class="btn btn-secondary" data-onclick="_me.onGenCrud">產生CRUD</button>
        </div>

        <!-- result list -->
        <table id="tableRead" class="table x-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="x-center x-w60">選取</th>
                    <th>專案</th>
                    <th>功能代碼</th>
                    <th>功能名稱</th>
                    <th class="x-w100">維護</th>
                    <th class="x-center x-w100">資料狀態</th>
                    <th>建檔時間</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- edit form-->
    <div id="divEdit" class="d-none">
        <partial name="Edit" />
    </div>
</div>