@using Base.Models
@using DbAdm.Services

@{
    var min = _Fun.IsDebug ? "" : ".min";   //min js 
    var menus = new List<MenuDto>()
    {
        new MenuDto() { Name = "專案維護", Url = "/Project/Read" },
        new MenuDto() { Name = "資料表維護", Url = "/Table/Read" },
        new MenuDto() { Name = "欄位維護", Url = "/Column/Read" },
        new MenuDto() { Name = "CRUD維護", Url = "/MyCrud/Read" },
    };
}

<style>
    .xu-body {
        display: inline-block;
        width: 100%;
        height: 100vh;
        vertical-align: top;
        transition: 0.5s;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@_Fun.Config.SystemName</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- css -->
    <link rel="stylesheet" href="~/css/lib@(min).css?Ver=@(_Xp.LibVer)" />
    <link rel="stylesheet" href="~/css/my@(min).css?ver=@(_Xp.SiteVer)" />
    @RenderSection("styles", required: false)

    <!-- js: lib -->
    <script src="~/js/lib@(min).js?Ver=@(_Xp.LibVer)"></script>

    <!-- js: this site, check debug/production mode !! -->
    <environment include="Production">
        <script src="~/js/my@(min).js?ver=@(_Xp.SiteVer)"></script>
    </environment>
    <environment include="Development">
        <!-- tail ver will load failed !! -->
        <script asp-src-include="~/js/base/*.js"></script>
        <script asp-src-include="~/js/view/_*.js"></script>
    </environment>

    <!-- js: local -->
    <script src="~/js/zh-TW@(min).js?ver=@(_Xp.SiteVer)"></script>

    @RenderSection("scripts", required: false)

    <!-- put here !! -->
    <script type="text/javascript">
        $(function () {
            _fun.locale = 'zh-TW';
            _xp.init();
        });
    </script>
</head>

<body>
    <!-- Top -->
    <partial name="_Top.cshtml" />

    @* set height=100% in parent , so that menu be fine for ie & firefox !! *@
    <div class="d-flex align-items-stretch" style="height:100%">
        <!-- left menu -->
        @await Component.InvokeAsync("XgLeftMenu", new { rows = menus })

        <!-- work area -->
        <div class="xu-body">
            @RenderBody()
        </div>
    </div>

    <!-- tool component -->
    @await Component.InvokeAsync("XgTool")

</body>
</html>