@{
    //var shortCols = "2,4";
    var longCols = "2,10";
}

<form class='xg-form' id='eform'>
    @await Component.InvokeAsync("XiHide", new { fid = "Id" })
    @await Component.InvokeAsync("XiText", new { title = "專案代碼", fid = "Code", value = "", maxLen = 30, required = true })
    @await Component.InvokeAsync("XiText", new { title = "資料庫", fid = "DbName", value = "", maxLen = 30, required = true })
    @await Component.InvokeAsync("XiCheck", new { title = "資料狀態", fid = "Status", isCheck = true, value = "1", label = "啟用" })
    @await Component.InvokeAsync("XiText", new { title = "專案路徑", fid = "ProjectPath", maxLen = 255, required = true, cols = longCols })
    @await Component.InvokeAsync("XiText", new { title = "DB連線字串", fid = "ConnectStr", maxLen = 255, required = true, cols = longCols })
</form>
@await Component.InvokeAsync("XgSaveBack")