@inject IHtmlLocalizer<DbAdm.R0> R
@{
    var longCols = "2,10";
}

<form class='xg-form xg-mb10' id='eform'>
    @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Id" })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "名稱", Fid = "Name", Value = "", MaxLen = 20, Required = true })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["ProjectCode"].Value, Fid = "Code", Value = "", MaxLen = 30, Required = true })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["DbName"].Value, Fid = "DbName", Value = "", MaxLen = 30, Required = true })
    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = R["Status"].Value, Fid = "Status", IsCheck = true, Value = "1", Label = R["Active"].Value })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["ProjectPath"].Value, Fid = "ProjectPath", MaxLen = 255, Required = true, Cols = longCols })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["ConnectStr"].Value, Fid = "ConnectStr", MaxLen = 255, Required = true, Cols = longCols })

    <div class="row">
        @await Component.InvokeAsync("XiRead", new XiReadDto { Title = R["Creator"].Value, Fid = "CreatorName", InRow = true, Cols = "2,3" })
        @await Component.InvokeAsync("XiRead", new XiReadDto { Title = R["Reviser"].Value, Fid = "ReviserName", InRow = true, Cols = "2,3" })
    </div>
    <div class="row">
        @await Component.InvokeAsync("XiRead", new XiReadDto { Title = R["Created"].Value, Fid = "Created", Format = BrFormatEstr.Dt, InRow = true, Cols = "2,3" })
        @await Component.InvokeAsync("XiRead", new XiReadDto { Title = R["Revised"].Value, Fid = "Revised", Format = BrFormatEstr.Dt, InRow = true, Cols = "2,3" })
    </div>
</form>

@await Component.InvokeAsync("XgSaveBack")