<script nonce="@_Fun.Nonce">
    $(function () {
        _me.init();
    });

    var _me = {
        init: function () {
            //datatable config
            var config = {
                columns: [
                    { data: 'Name' },
                    { data: 'Code' },
                    { data: 'DbName' },
                    { data: 'CreatorName' },
                    { data: '_Fun' },
                    { data: '_Crud' },
                    { data: 'Status' },
                ],
                columnDefs: [
                    { targets: [4], render: function (data, type, full, meta) {
                        var html = '' +
                            '<button type="button" class="btn btn-link" data-onclick="_me.onImport" data-args="{0}">{1}</button> | ' +
                            '<button type="button" class="btn btn-link" data-onclick="_me.onGenWord" data-args="{0}">{2}</button> | ' +
                            '<button type="button" class="btn btn-link" data-onclick="_me.onGenLogSql" data-args="{0}">{3}</button>';
                            return _str.format(html, full.Id, '匯入結構', '產生文件', '產生異動SQL');
                    }},
                    { targets: [5], render: function (data, type, full, meta) {
                            return _me.crudR.dtCrudFun(full.Id, full.Name, true, true, true);
                    }},
                    { targets: [6], render: function (data, type, full, meta) {
                        return _me.crudR.dtStatusName(data);
                    }},
                ],
            };

            //initial
            new CrudR(config);
        },

        //import excel into Db
        onImport: async function (id) {
            _me.prjId = id;
            _tool.ans('是否確定匯入資料庫結構?', async function () {
                await _ajax.getJsonA('Import', { id: _me.prjId }, function (data) {
                    _tool.msg(_BR.Done);
                });
            });
        },

        //generate docx file
        onGenWord: function (id) {
            _tool.ans('是否確定產生資料庫文件?', function () {
                window.location = 'GenWord?id=' + id;
            });
        },

        /*
        //generate txt file for table relationship
        onGenRelat: function (id) {
            _tool.ans('是否確定產生資料表產生關聯?', function () {
                window.location = 'GenRelat?id=' + id;
            });
        },
        */

        //generate tranlog sql file
        onGenLogSql: function (id) {
            _tool.ans('是否確定產生異動SQL檔案?', function () {
                window.location = 'GenLogSql?id=' + id;
            });
        },

    }; //class
</script>

<vc:xg-prog-path />
<div class="x-prog">
    <!-- read form-->
    <div id="divRead">
        <div class='x-btns-box'>
            @await Component.InvokeAsync("XgCreate")
        </div>
        <table id="tableRead" class="table table-bordered x-table" cellspacing="0">
            <thead>
                <tr>
                    <th>專案</th>
                    <th>程式代碼</th>
                    <th>資料庫</th>
                    <th>建檔人員</th>
                    <th>功能</th>
                    <th width='90px'>維護</th>
                    <th width='90px'>資料狀態</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- edit form -->
    <div id="divEdit" class="d-none">
        <partial name="Edit" />
    </div>
</div>