<script src="~/js/view/Project.js"></script>
<script type="text/javascript">
    $(function () {
        _me.init();
    });
</script>

@await Component.InvokeAsync("XgProgPath", new string[] { "專案維護" } )
<div class="xp-prog">
    <!-- read form-->
    <div id="divRead">
        <div class='xg-btns-box'>
            @await Component.InvokeAsync("XgCreate")
        </div>
        <table id="table1" class="table table-bordered xg-table" cellspacing="0">
            <thead>
                <tr>
                    <th>專案</th>
                    <th>資料庫</th>
                    <th width='80px'>功能</th>
                    <th width='80px'>維護功能</th>
                    <th width='60px'>資料狀態</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- edit form -->
    <div id="divEdit" class="xg-hide">
        <partial name="Edit" />
    </div>
</div>