/* 查詢畫面 */

/* 右上方工具列1: 標準模式在col裡面 */
.x-find-tbar {
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

/* 工具列2: span mode */
.x-find-tbar2 {
    display: inline-flex;
    margin-left: 4px;
    gap: 2px;
}

/* ?? find form, use $.slideToggle() */
.x-find-form {
    padding: 10px 0 10px 0;
}

    /* init to open status, toggle will add open class */
    .x-find-form.open {
        /*display: none;*/
        padding: 10px 0 10px 0;
    }