/* 分頁元件 */

/* 顯示筆數&資訊 */
.x-page-menu {
    float: left;
}

.x-page-btns .x-has-menu {
    justify-content: flex-end !important;
}
.x-page-btns .x-no-menu {
    justify-content: center !important;
}

@media (max-width:768px) {
    .x-page-menu {
        display: none;
    }

    .x-page-btns .x-page-hasmenu {
        justify-content: center !important;
    }
}