
/* font icon(icomoom) */
[class^="ico-"], [class*=" ico-"] {
    padding: 1px;
}

/* icomoon spinner */
@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    vertical-align: middle;
    display: inline-block;
    font-size: 2em;
    animation: anim-rotate 2s infinite steps(12);
}
