.vs/
bin/
obj/
_log/
_upload/
packages/
*.rar
*.bak
zz_*.*
old/
wwwroot_old/
node_modules/
.config/
/wwwroot/js/my*.js
/wwwroot/js/lib*.js
/wwwroot/css/my*.css
/wwwroot/css/lib*.css
/appsettings.Production.json
/appsettings.Production-net.json
