
<form id='eform' class='x-form mb-2'>
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "問題Id", Fid = "Id" })
    @await Component.InvokeAsync("XiTextarea", new XiTextareaDto { Title = "問題標題", Fid = "Title" })
    @await Component.InvokeAsync("XiTextarea", new XiTextareaDto { Title = "建議內容", Fid = "Q5" })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "填寫時間", Fid = "Created" })
</form>

@* 3.Save & Back buttons *@
<vc:xg-save-back />
