USE [Db]
GO
/****** Object:  Table [dbo].[Column]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Column](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[TableId] [varchar](10) NOT NULL,
	[Fid] [varchar](100) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[DataType] [varchar](20) NOT NULL,
	[Nullable] [bit] NOT NULL,
	[DefaultValue] [varchar](100) NULL,
	[Sort] [int] NOT NULL,
	[Note] [nvarchar](255) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Column] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crud]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crud](
	[Id] [varchar](10) NOT NULL,
	[ProjectId] [varchar](10) NOT NULL,
	[IsUi] [bit] NOT NULL,
	[ProgCode] [varchar](30) NOT NULL,
	[ProgName] [nvarchar](30) NOT NULL,
	[LabelHori] [bit] NOT NULL,
	[ReadSql] [varchar](500) NOT NULL,
	[TableAs] [varchar](10) NULL,
	[HasCreate] [bit] NOT NULL,
	[HasUpdate] [bit] NOT NULL,
	[HasDelete] [bit] NOT NULL,
	[HasView] [bit] NOT NULL,
	[HasExport] [bit] NOT NULL,
	[HasReset] [bit] NOT NULL,
	[AuthType] [tinyint] NOT NULL,
	[Status] [bit] NOT NULL,
	[Creator] [varchar](10) NULL,
	[Created] [datetime] NOT NULL,
	[Reviser] [varchar](10) NULL,
	[Revised] [datetime] NULL,
 CONSTRAINT [PK_Crud_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrudEitem]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrudEitem](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[EtableId] [varchar](10) NOT NULL,
	[ColumnId] [varchar](10) NULL,
	[Fid] [varchar](100) NULL,
	[Name] [nvarchar](30) NULL,
	[DataType] [varchar](20) NULL,
	[InputType] [varchar](10) NOT NULL,
	[ItemData] [nvarchar](50) NULL,
	[Required] [bit] NOT NULL,
	[HasCreate] [bit] NOT NULL,
	[HasUpdate] [bit] NOT NULL,
	[PlaceHolder] [varchar](10) NULL,
	[DefaultValue] [varchar](10) NULL,
	[PosGroup] [varchar](10) NULL,
	[Cols] [varchar](10) NULL,
	[Width] [int] NOT NULL,
	[CheckType] [varchar](10) NOT NULL,
	[CheckData] [varchar](10) NULL,
	[Sort] [int] NOT NULL,
	[zz_EitemType] [varchar](10) NULL,
 CONSTRAINT [PK_CrudEitem] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrudEtable]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrudEtable](
	[Id] [varchar](10) NOT NULL,
	[CrudId] [varchar](10) NOT NULL,
	[TableId] [varchar](10) NOT NULL,
	[PkeyFid] [varchar](10) NOT NULL,
	[FkeyFid] [varchar](10) NULL,
	[Col4] [varchar](30) NOT NULL,
	[OrderBy] [varchar](10) NOT NULL,
	[Sort] [int] NOT NULL,
	[HalfWidth] [bit] NOT NULL,
	[AutoIdLen] [varchar](20) NULL,
 CONSTRAINT [PK_CrudEtable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrudQitem]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrudQitem](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[CrudId] [varchar](10) NOT NULL,
	[ColumnId] [varchar](10) NULL,
	[Fid] [varchar](100) NULL,
	[Name] [nvarchar](30) NULL,
	[DataType] [varchar](20) NULL,
	[InputType] [varchar](10) NOT NULL,
	[TableAs] [varchar](20) NOT NULL,
	[ItemData] [varchar](20) NULL,
	[Op] [varchar](10) NOT NULL,
	[IsRange] [bit] NOT NULL,
	[IsFind2] [bit] NOT NULL,
	[PosGroup] [varchar](10) NULL,
	[Cols] [varchar](20) NULL,
	[Sort] [int] NOT NULL,
	[zz_QitemType] [varchar](10) NULL,
 CONSTRAINT [PK_CrudQitem] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrudRitem]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrudRitem](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[CrudId] [varchar](10) NOT NULL,
	[Fid] [varchar](100) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Width] [int] NOT NULL,
	[RitemType] [varchar](10) NOT NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_CrudRitem] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrudUiItem]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrudUiItem](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[CrudId] [varchar](10) NOT NULL,
	[BoxId] [varchar](10) NOT NULL,
	[ChildNo] [int] NOT NULL,
	[ItemType] [varchar](10) NOT NULL,
	[Info] [nvarchar](1000) NOT NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_UiItem] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataDict]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataDict](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[DataType] [varchar](20) NOT NULL,
	[Nullable] [bit] NOT NULL,
	[DefaultValue] [varchar](100) NULL,
	[Note] [nvarchar](255) NULL,
	[TableType] [varchar](10) NULL,
 CONSTRAINT [PK_DataDict] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issue]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issue](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[ProgId] [varchar](10) NOT NULL,
	[OwnerId] [varchar](10) NULL,
	[IssueType] [varchar](5) NOT NULL,
	[WorkDate] [smalldatetime] NULL,
	[WorkHours] [smallint] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[IsFinish] [bit] NOT NULL,
	[FromMgr] [varchar](10) NULL,
	[RptDeptCode] [varchar](10) NULL,
	[RptUser] [nvarchar](20) NULL,
	[RptType] [nvarchar](30) NULL,
	[SendTimes] [smallint] NULL,
	[Creator] [varchar](10) NOT NULL,
	[Created] [datetime] NOT NULL,
	[Reviser] [varchar](10) NULL,
	[Revised] [datetime] NULL,
 CONSTRAINT [PK_Issue] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueFile]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueFile](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[IssueId] [varchar](10) NOT NULL,
	[FileName] [nvarchar](100) NOT NULL,
	[Creator] [varchar](10) NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_IssueFile] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueRelat]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueRelat](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[IssueId] [varchar](10) NOT NULL,
	[SourceIssue] [varchar](10) NOT NULL,
	[Creator] [varchar](10) NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_IssueRelat] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueWatch]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueWatch](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[IssueId] [varchar](10) NOT NULL,
	[WatcherId] [varchar](10) NOT NULL,
 CONSTRAINT [PK_IssueWatch] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrgDept]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrgDept](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[CorpId] [tinyint] NOT NULL,
	[DeptNo] [varchar](10) NOT NULL,
	[MgrId] [varchar](10) NOT NULL,
	[LevelNo] [tinyint] NOT NULL,
	[UpDeptId] [varchar](10) NULL,
	[L1DeptId] [varchar](10) NULL,
	[L2DeptId] [varchar](10) NULL,
	[L3DeptId] [varchar](10) NULL,
	[Status] [bit] NOT NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_OrgDept] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrgEmp]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrgEmp](
	[Id] [varchar](10) NOT NULL,
	[Idno] [varchar](15) NOT NULL,
	[EmpNo] [varchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[DeptId] [varchar](10) NOT NULL,
	[DeptNo] [varchar](10) NOT NULL,
	[LevelNo] [tinyint] NOT NULL,
	[BankName] [nvarchar](10) NOT NULL,
	[BankAccount] [varchar](20) NOT NULL,
	[WorkStatus] [tinyint] NOT NULL,
	[ProjectId] [varchar](20) NULL,
	[HrTranStatus] [bit] NOT NULL,
	[Note] [nvarchar](255) NULL,
	[OldProjectId] [varchar](20) NULL,
 CONSTRAINT [PK_OrgEmp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrjProg]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrjProg](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[ProjectId] [varchar](10) NOT NULL,
	[Sort] [smallint] NOT NULL,
	[Status] [bit] NOT NULL,
	[Creator] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PrjProg] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Code] [nvarchar](30) NOT NULL,
	[DbName] [varchar](20) NOT NULL,
	[DbType] [tinyint] NOT NULL,
	[ProjectPath] [varchar](255) NOT NULL,
	[ConnectStr] [varchar](255) NOT NULL,
	[Status] [bit] NOT NULL,
	[FromTmpTable] [bit] NOT NULL,
	[Creator] [varchar](10) NULL,
	[Created] [datetime] NULL,
	[Reviser] [varchar](10) NULL,
	[Revised] [datetime] NULL,
 CONSTRAINT [PK_Project_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Survey]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[Q1] [tinyint] NOT NULL,
	[Q2] [tinyint] NOT NULL,
	[Q3] [tinyint] NOT NULL,
	[Q4] [tinyint] NOT NULL,
	[Q5] [nvarchar](500) NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_Survey] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[ProjectId] [varchar](10) NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[TranLog] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmpColumn]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpColumn](
	[Code] [varchar](100) NOT NULL,
	[TableCode] [varchar](100) NULL,
	[DataType] [varchar](20) NOT NULL,
	[Nullable] [bit] NOT NULL,
	[DefaultValue] [varchar](100) NULL,
	[Sort] [smallint] NOT NULL,
	[Note] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmpColumnImport]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpColumnImport](
	[DbName] [varchar](50) NULL,
	[TableCode] [varchar](50) NULL,
	[ColumnCode] [varchar](50) NULL,
	[ColumnName] [nvarchar](500) NULL,
	[DefaultValue] [varchar](50) NULL,
	[Note] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmpTable]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpTable](
	[Code] [varchar](100) NOT NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK__tmpTable__A25C5AA6183AE814] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpCode]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpCode](
	[Type] [varchar](20) NOT NULL,
	[Value] [varchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Sort] [int] NOT NULL,
	[Ext] [varchar](30) NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_XpCode] PRIMARY KEY CLUSTERED 
(
	[Type] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpDept]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpDept](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[MgrId] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Dept] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpProg]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpProg](
	[Id] [varchar](10) NOT NULL,
	[Code] [varchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Icon] [varchar](20) NULL,
	[Url] [varchar](100) NULL,
	[Sort] [smallint] NOT NULL,
	[AuthRow] [tinyint] NOT NULL,
	[FunCreate] [tinyint] NOT NULL,
	[FunRead] [tinyint] NOT NULL,
	[FunUpdate] [tinyint] NOT NULL,
	[FunDelete] [tinyint] NOT NULL,
	[FunPrint] [tinyint] NOT NULL,
	[FunExport] [tinyint] NOT NULL,
	[FunView] [tinyint] NOT NULL,
	[FunOther] [tinyint] NOT NULL,
 CONSTRAINT [PK_XpProg] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpRole]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpRole](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_XpRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpRoleProg]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpRoleProg](
	[Id] [varchar](10) NOT NULL,
	[RoleId] [varchar](10) NOT NULL,
	[ProgId] [varchar](10) NOT NULL,
	[FunCreate] [tinyint] NOT NULL,
	[FunRead] [tinyint] NOT NULL,
	[FunUpdate] [tinyint] NOT NULL,
	[FunDelete] [tinyint] NOT NULL,
	[FunPrint] [tinyint] NOT NULL,
	[FunExport] [tinyint] NOT NULL,
	[FunView] [tinyint] NOT NULL,
	[FunOther] [tinyint] NOT NULL,
 CONSTRAINT [PK_XpRoleProg] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpUser]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpUser](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Account] [varchar](20) NOT NULL,
	[EmpNo] [varchar](10) NULL,
	[Pwd] [varchar](32) NOT NULL,
	[DeptId] [varchar](10) NOT NULL,
	[PhotoFile] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpUserRole]    Script Date: 2026/7/1 下午 05:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpUserRole](
	[Id] [varchar](10) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[RoleId] [varchar](10) NOT NULL,
 CONSTRAINT [PK_XpUserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Column] ON 

INSERT [dbo].[Column] ([Sn], [Id], [TableId], [Fid], [Name], [DataType], [Nullable], [DefaultValue], [Sort], [Note], [Status]) VALUES (1, N'15ZQD4ED1A', N'D58LXL44TA', N'test', N'test', N'varchar(10)', 0, N'', 3, N'', 1)
INSERT [dbo].[Column] ([Sn], [Id], [TableId], [Fid], [Name], [DataType], [Nullable], [DefaultValue], [Sort], [Note], [Status]) VALUES (931, N'5X9RB37ZKA', N'5X9RB36MYA', N'Id', N'Id', N'varchar(10)', 0, N'', 2, N'PKey', 1)
INSERT [dbo].[Column] ([Sn], [Id], [TableId], [Fid], [Name], [DataType], [Nullable], [DefaultValue], [Sort], [Note], [Status]) VALUES (932, N'5X9RB381FA', N'5X9RB36MYA', N'TableId', N'資料表Id', N'varchar(10)', 0, N'', 3, N'', 1)
GO
SET IDENTITY_INSERT [dbo].[Column] OFF
GO
INSERT [dbo].[Crud] ([Id], [ProjectId], [IsUi], [ProgCode], [ProgName], [LabelHori], [ReadSql], [TableAs], [HasCreate], [HasUpdate], [HasDelete], [HasView], [HasExport], [HasReset], [AuthType], [Status], [Creator], [Created], [Reviser], [Revised]) VALUES (N'2638sRu1lL', N'Db', 1, N'Issue', N'問題維護', 1, N'select *
from dbo.Issue
ordre by Id', N'', 1, 1, 1, 1, 1, 1, 2, 1, NULL, CAST(N'2024-12-10T17:40:14.000' AS DateTime), NULL, CAST(N'2024-12-10T17:43:02.000' AS DateTime))
INSERT [dbo].[Crud] ([Id], [ProjectId], [IsUi], [ProgCode], [ProgName], [LabelHori], [ReadSql], [TableAs], [HasCreate], [HasUpdate], [HasDelete], [HasView], [HasExport], [HasReset], [AuthType], [Status], [Creator], [Created], [Reviser], [Revised]) VALUES (N'4ZneaAGze1', N'tVdrunTLmp', 1, N'WaitLearn', N'4.排入候缺階段-學籍資料卡', 1, N'select * from dbo.aa order by Id', N'', 1, 1, 1, 1, 0, 0, 0, 1, N'Bruce', CAST(N'2025-11-11T13:48:27.000' AS DateTime), N'Bruce', CAST(N'2025-11-11T13:48:42.000' AS DateTime))
INSERT [dbo].[Crud] ([Id], [ProjectId], [IsUi], [ProgCode], [ProgName], [LabelHori], [ReadSql], [TableAs], [HasCreate], [HasUpdate], [HasDelete], [HasView], [HasExport], [HasReset], [AuthType], [Status], [Creator], [Created], [Reviser], [Revised]) VALUES (N'5XDCQU13AA', N'Hr', 0, N'UserExt', N'用戶學經歷維護', 1, N'select u.*, d.name as DeptName from [User] u
join [Dept] d on u.DeptId=d.Id
order by u.Id', N'', 0, 1, 0, 1, 0, 1, 1, 1, NULL, CAST(N'2020-12-12T19:18:07.000' AS DateTime), NULL, CAST(N'2021-01-20T18:09:39.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CrudEitem] ON 

INSERT [dbo].[CrudEitem] ([Sn], [Id], [EtableId], [ColumnId], [Fid], [Name], [DataType], [InputType], [ItemData], [Required], [HasCreate], [HasUpdate], [PlaceHolder], [DefaultValue], [PosGroup], [Cols], [Width], [CheckType], [CheckData], [Sort], [zz_EitemType]) VALUES (11, N'5XEYLM3KAA', N'5XEYLM3AWA', N'5XD29XD5LA', N'Id', N'Id', N'varchar(10)', N'hide', N'', 0, 1, 1, N'', N'', N'', N'', 0, N'0', N'', 0, N'H')
INSERT [dbo].[CrudEitem] ([Sn], [Id], [EtableId], [ColumnId], [Fid], [Name], [DataType], [InputType], [ItemData], [Required], [HasCreate], [HasUpdate], [PlaceHolder], [DefaultValue], [PosGroup], [Cols], [Width], [CheckType], [CheckData], [Sort], [zz_EitemType]) VALUES (12, N'5XEYLM3N0A', N'5XEYLM3AWA', N'5XD29XD72A', N'Account', N'帳號', N'varchar(20)', N'text', N'', 0, 1, 1, N'', N'', N'', N'', 0, N'0', N'', 1, N'T')
INSERT [dbo].[CrudEitem] ([Sn], [Id], [EtableId], [ColumnId], [Fid], [Name], [DataType], [InputType], [ItemData], [Required], [HasCreate], [HasUpdate], [PlaceHolder], [DefaultValue], [PosGroup], [Cols], [Width], [CheckType], [CheckData], [Sort], [zz_EitemType]) VALUES (13, N'5XEYNLFSBA', N'5XEYLM3AWA', N'5XD29XD8JA', N'Name', N'使用者名稱', N'nvarchar(20)', N'text', N'', 0, 1, 1, N'', N'', N'', N'', 0, N'0', N'', 2, N'T')
GO
SET IDENTITY_INSERT [dbo].[CrudEitem] OFF
GO
INSERT [dbo].[CrudEtable] ([Id], [CrudId], [TableId], [PkeyFid], [FkeyFid], [Col4], [OrderBy], [Sort], [HalfWidth], [AutoIdLen]) VALUES (N'3Wp10Y8uxn', N'THpkzl0NDF', N'mOOH7SiWrZ', N'Id', N'', N'1', N'', 0, 0, N'')
INSERT [dbo].[CrudEtable] ([Id], [CrudId], [TableId], [PkeyFid], [FkeyFid], [Col4], [OrderBy], [Sort], [HalfWidth], [AutoIdLen]) VALUES (N'5XEYLM3AWA', N'5XDCQU13AA', N'5XD29XC3BA', N'Id', N'', N'0', N'', 0, 0, NULL)
INSERT [dbo].[CrudEtable] ([Id], [CrudId], [TableId], [PkeyFid], [FkeyFid], [Col4], [OrderBy], [Sort], [HalfWidth], [AutoIdLen]) VALUES (N'5XEYNLFBNA', N'5XDCQU13AA', N'5XD29XC6LA', N'Id', N'UserId', N'0', N'', 2, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[CrudQitem] ON 

INSERT [dbo].[CrudQitem] ([Sn], [Id], [CrudId], [ColumnId], [Fid], [Name], [DataType], [InputType], [TableAs], [ItemData], [Op], [IsRange], [IsFind2], [PosGroup], [Cols], [Sort], [zz_QitemType]) VALUES (2, N'5XDCQUBPRA', N'5XDCQU13AA', N'5XD29XD72A', N'Account', N'帳號', N'varchar(20)', N'text', N'', N'', N'Like', 0, 0, N'', N'', 0, N'T')
INSERT [dbo].[CrudQitem] ([Sn], [Id], [CrudId], [ColumnId], [Fid], [Name], [DataType], [InputType], [TableAs], [ItemData], [Op], [IsRange], [IsFind2], [PosGroup], [Cols], [Sort], [zz_QitemType]) VALUES (3, N'5XDCS43M4A', N'5XDCQU13AA', N'5XD29XD8JA', N'Name', N'使用者名稱', N'nvarchar(20)', N'text', N'', N'', N'Like', 0, 0, N'', N'', 1, N'T')
INSERT [dbo].[CrudQitem] ([Sn], [Id], [CrudId], [ColumnId], [Fid], [Name], [DataType], [InputType], [TableAs], [ItemData], [Op], [IsRange], [IsFind2], [PosGroup], [Cols], [Sort], [zz_QitemType]) VALUES (4, N'5XDCS43PJA', N'5XDCQU13AA', N'5XD29XDARA', N'DeptId', N'部門', N'varchar(10)', N'select', N'', N'Depts', N'Equal', 0, 0, N'', N'', 2, N'S')
SET IDENTITY_INSERT [dbo].[CrudQitem] OFF
GO
SET IDENTITY_INSERT [dbo].[CrudRitem] ON 

INSERT [dbo].[CrudRitem] ([Sn], [Id], [CrudId], [Fid], [Name], [Width], [RitemType], [Sort]) VALUES (8, N'5XEXK6A9SA', N'5XDCQU13AA', N'Account', N'帳號', 0, N'0', 0)
INSERT [dbo].[CrudRitem] ([Sn], [Id], [CrudId], [Fid], [Name], [Width], [RitemType], [Sort]) VALUES (9, N'5XEXK6ASFA', N'5XDCQU13AA', N'Name', N'使用者名稱', 0, N'0', 1)
INSERT [dbo].[CrudRitem] ([Sn], [Id], [CrudId], [Fid], [Name], [Width], [RitemType], [Sort]) VALUES (10, N'5XEXK6B26A', N'5XDCQU13AA', N'DeptName', N'部門', 0, N'0', 2)
GO
SET IDENTITY_INSERT [dbo].[CrudRitem] OFF
GO
SET IDENTITY_INSERT [dbo].[CrudUiItem] ON 

INSERT [dbo].[CrudUiItem] ([Sn], [Id], [CrudId], [BoxId], [ChildNo], [ItemType], [Info], [Sort]) VALUES (47, N'ry20TxCbuj', N'THpkzl0NDF', N'0', 0, N'I', N'{"Title":"欄位1","Fid":"_fid1","InputType":"text","Cols":"2,3","Required":1,"MaxLen":"0","TitleTip":"","InputNote":"","ExtInfo":""}', 1)
INSERT [dbo].[CrudUiItem] ([Sn], [Id], [CrudId], [BoxId], [ChildNo], [ItemType], [Info], [Sort]) VALUES (48, N'dljaQVvXB8', N'THpkzl0NDF', N'0', 0, N'I', N'{"Title":"欄位2","Fid":"_fid2","InputType":"text","Cols":"2,3","Required":1,"MaxLen":"0","TitleTip":"","InputNote":"","ExtInfo":""}', 2)
INSERT [dbo].[CrudUiItem] ([Sn], [Id], [CrudId], [BoxId], [ChildNo], [ItemType], [Info], [Sort]) VALUES (49, N'qP84ekfdRZ', N'THpkzl0NDF', N'0', 0, N'I', N'{"Title":"欄位3","Fid":"_fid3","InputType":"text","Cols":"2,3","Required":1,"MaxLen":"0","TitleTip":"","InputNote":"","ExtInfo":""}', 3)
GO
SET IDENTITY_INSERT [dbo].[CrudUiItem] OFF
GO
SET IDENTITY_INSERT [dbo].[DataDict] ON 

INSERT [dbo].[DataDict] ([Sn], [Code], [Name], [DataType], [Nullable], [DefaultValue], [Note], [TableType]) VALUES (1, N'Id', N'Id', N'varchar(10)', 0, N'', N'主Key欄位', N'Base')
SET IDENTITY_INSERT [dbo].[DataDict] OFF
GO
SET IDENTITY_INSERT [dbo].[Issue] ON 

INSERT [dbo].[Issue] ([Sn], [Id], [ProgId], [OwnerId], [IssueType], [WorkDate], [WorkHours], [Title], [Note], [IsFinish], [FromMgr], [RptDeptCode], [RptUser], [RptType], [SendTimes], [Creator], [Created], [Reviser], [Revised]) VALUES (1, N'AwwQVmNGQ7', N'T6eAWTQc8M', N'Bruce', N'R', CAST(N'2025-02-03T00:00:00' AS SmallDateTime), 1, N'test1', N'test1', 1, NULL, N'', N'', N'', 0, N'Bruce', CAST(N'2025-02-03T08:51:54.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Issue] ([Sn], [Id], [ProgId], [OwnerId], [IssueType], [WorkDate], [WorkHours], [Title], [Note], [IsFinish], [FromMgr], [RptDeptCode], [RptUser], [RptType], [SendTimes], [Creator], [Created], [Reviser], [Revised]) VALUES (2, N'rJYWPDoqYz', N'aNLIg5iLr3', N'Bruce', N'R', CAST(N'2025-02-03T00:00:00' AS SmallDateTime), 1, N'工作日誌系統閒置過久必須重新登入', N'test', 1, N'Bruce', N'', N'14700', N'', 3, N'Bruce', CAST(N'2025-02-03T13:47:42.000' AS DateTime), N'Bruce', CAST(N'2025-07-25T09:41:21.000' AS DateTime))
INSERT [dbo].[Issue] ([Sn], [Id], [ProgId], [OwnerId], [IssueType], [WorkDate], [WorkHours], [Title], [Note], [IsFinish], [FromMgr], [RptDeptCode], [RptUser], [RptType], [SendTimes], [Creator], [Created], [Reviser], [Revised]) VALUES (3, N'vxqdaGRlne', N'aNLIg5iLr3', N'Bruce', N'R', CAST(N'2025-07-25T00:00:00' AS SmallDateTime), 1, N'test 3', N'', 0, N'Bruce', N'', N'', N'', 0, N'Bruce', CAST(N'2025-07-25T09:45:03.000' AS DateTime), N'Bruce', CAST(N'2025-12-02T16:18:12.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Issue] OFF
GO
SET IDENTITY_INSERT [dbo].[IssueFile] ON 

INSERT [dbo].[IssueFile] ([Sn], [Id], [IssueId], [FileName], [Creator], [Created]) VALUES (1, N'borCKm5ANt', N'Ga0KfnbQNq', N'遊樂場地圖.png', N'Bruce', CAST(N'2024-12-12T11:00:56.000' AS DateTime))
INSERT [dbo].[IssueFile] ([Sn], [Id], [IssueId], [FileName], [Creator], [Created]) VALUES (6, N'EGDSBiHmud', N'kRAcsLp8lY', N'萬和辦公室平面圖.png', N'Bruce', CAST(N'2026-04-28T17:06:23.000' AS DateTime))
INSERT [dbo].[IssueFile] ([Sn], [Id], [IssueId], [FileName], [Creator], [Created]) VALUES (9, N'Rq0qYRPokN', N'kRAcsLp8lY', N'Table 範本.docx', N'Bruce', CAST(N'2026-04-27T15:38:47.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[IssueFile] OFF
GO
SET IDENTITY_INSERT [dbo].[IssueRelat] ON 

INSERT [dbo].[IssueRelat] ([Sn], [Id], [IssueId], [SourceIssue], [Creator], [Created]) VALUES (1, N'yyZ7wes8vd', N'cEt9cEJQOt', N'cEt9cEJQOt', N'Bruce', CAST(N'2025-12-04T16:30:08.000' AS DateTime))
INSERT [dbo].[IssueRelat] ([Sn], [Id], [IssueId], [SourceIssue], [Creator], [Created]) VALUES (2, N'TumTTqcbrD', N'lLdsCNrsxI', N'lLdsCNrsxI', N'Bruce', CAST(N'2025-12-04T16:31:44.000' AS DateTime))
INSERT [dbo].[IssueRelat] ([Sn], [Id], [IssueId], [SourceIssue], [Creator], [Created]) VALUES (3, N'b66zvEOH0i', N'kRAcsLp8lY', N'ak0urIHPiL', N'Bruce', CAST(N'2025-12-04T16:34:38.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[IssueRelat] OFF
GO
INSERT [dbo].[PrjProg] ([Id], [Name], [ProjectId], [Sort], [Status], [Creator]) VALUES (N'aNLIg5iLr3', N'test1', N'Db', 1, 1, N'Bruce')
INSERT [dbo].[PrjProg] ([Id], [Name], [ProjectId], [Sort], [Status], [Creator]) VALUES (N'T6eAWTQc8M', N'功能1', N'bu040syNlI', 1, 1, N'Bruce')
GO
INSERT [dbo].[Project] ([Id], [Name], [Code], [DbName], [DbType], [ProjectPath], [ConnectStr], [Status], [FromTmpTable], [Creator], [Created], [Reviser], [Revised]) VALUES (N'BaxZc0p1G9', N'二手衣管理系統', N'Cloth2Adm', N'Cloth2', 0, N'c:\_project\Cloth2Adm', N'data source=.\SQLExpress;initial catalog=Cloth2;integrated security=True;multipleactiveresultsets=True;TrustServerCertificate=true;', 1, 0, N'Bruce', CAST(N'2025-05-03T15:25:45.000' AS DateTime), N'Bruce', CAST(N'2025-05-19T15:55:50.000' AS DateTime))
INSERT [dbo].[Project] ([Id], [Name], [Code], [DbName], [DbType], [ProjectPath], [ConnectStr], [Status], [FromTmpTable], [Creator], [Created], [Reviser], [Revised]) VALUES (N'D58WWHCYQA', N'尋寶', N'BaoAdm', N'Bao', 0, N'd:\_project\BaoAdm', N'data source=(localdb)\mssqllocaldb;initial catalog=Bao;integrated security=True;multipleactiveresultsets=True;max pool size=1000;', 1, 0, N'Bruce', CAST(N'2024-11-01T14:29:48.253' AS DateTime), NULL, NULL)
INSERT [dbo].[Project] ([Id], [Name], [Code], [DbName], [DbType], [ProjectPath], [ConnectStr], [Status], [FromTmpTable], [Creator], [Created], [Reviser], [Revised]) VALUES (N'Db', N'DbAdm資料庫文件', N'DbAdm', N'Db', 0, N'D:\_project\DbAdm', N'data source=.\SqlExpress;initial catalog=Db;integrated security=True;multipleactiveresultsets=True;max pool size=1000;', 1, 0, N'Bruce', CAST(N'2024-11-01T14:29:48.253' AS DateTime), N'Bruce', CAST(N'2025-02-03T12:32:34.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Survey] ON 

INSERT [dbo].[Survey] ([Sn], [Id], [UserId], [Q1], [Q2], [Q3], [Q4], [Q5], [Created]) VALUES (6, N'rJYWPDoqYz', N'14700', 3, 4, 5, 4, N'test', CAST(N'2025-03-20T11:05:26.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[Survey] OFF
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([Sn], [Id], [ProjectId], [Code], [Name], [Note], [TranLog], [Status]) VALUES (79, N'5X9RB36MYA', N'Db', N'Column', N'欄位檔', N'', 0, 1)
INSERT [dbo].[Table] ([Sn], [Id], [ProjectId], [Code], [Name], [Note], [TranLog], [Status]) VALUES (80, N'5X9RB36PRA', N'Db', N'Crud', N'CRUD設定', N'', 0, 1)
INSERT [dbo].[Table] ([Sn], [Id], [ProjectId], [Code], [Name], [Note], [TranLog], [Status]) VALUES (81, N'5X9RB36TCA', N'Db', N'CrudEitem', N'CRUD維護欄位', N'', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Table] OFF
GO
INSERT [dbo].[tmpColumn] ([Code], [TableCode], [DataType], [Nullable], [DefaultValue], [Sort], [Note]) VALUES (N'Id', N'AuthRoles', N'varchar(50)', 0, N'', 1, N'')
INSERT [dbo].[tmpColumn] ([Code], [TableCode], [DataType], [Nullable], [DefaultValue], [Sort], [Note]) VALUES (N'RoleName', N'AuthRoles', N'varchar(45)', 1, N'', 2, N'角色名稱')
INSERT [dbo].[tmpColumn] ([Code], [TableCode], [DataType], [Nullable], [DefaultValue], [Sort], [Note]) VALUES (N'Id', N'CustomerContract', N'varchar(50)', 0, N'', 1, N'')
GO
INSERT [dbo].[tmpTable] ([Code], [Note]) VALUES (N'AuthRoles', N'')
INSERT [dbo].[tmpTable] ([Code], [Note]) VALUES (N'CustomerContract', N'')
INSERT [dbo].[tmpTable] ([Code], [Note]) VALUES (N'CustomerMapping', N'客戶對應設定')
GO
INSERT [dbo].[XpCode] ([Type], [Value], [Name], [Sort], [Ext], [Note]) VALUES (N'AuthRange', N'0', N'無', 1, NULL, NULL)
INSERT [dbo].[XpCode] ([Type], [Value], [Name], [Sort], [Ext], [Note]) VALUES (N'AuthRange', N'1', N'個人', 2, NULL, NULL)
INSERT [dbo].[XpCode] ([Type], [Value], [Name], [Sort], [Ext], [Note]) VALUES (N'AuthRange', N'2', N'部門', 3, NULL, NULL)
GO
INSERT [dbo].[XpDept] ([Id], [Name], [MgrId]) VALUES (N'RD', N'研發部', N'Nick')
INSERT [dbo].[XpDept] ([Id], [Name], [MgrId]) VALUES (N'ST', N'軟體中心', N'Bruce')
GO
INSERT [dbo].[XpProg] ([Id], [Code], [Name], [Icon], [Url], [Sort], [AuthRow], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'ChartSatis', N'ChartSatis', N'統計圖-滿意度問卷', NULL, N'/ChartSatis/Read', 81, 0, 0, 1, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[XpProg] ([Id], [Code], [Name], [Icon], [Url], [Sort], [AuthRow], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'Column', N'Column', N'欄位維護', NULL, N'/Column/Read', 30, 1, 1, 1, 1, 1, 0, 0, 1, 0)
INSERT [dbo].[XpProg] ([Id], [Code], [Name], [Icon], [Url], [Sort], [AuthRow], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'DataDict', N'DataDict', N'資料字典', NULL, N'/DataDict/Read', 50, 0, 1, 1, 1, 1, 0, 0, 1, 0)
GO
INSERT [dbo].[XpRole] ([Id], [Name]) VALUES (N'Adm', N'管理者')
INSERT [dbo].[XpRole] ([Id], [Name]) VALUES (N'All', N'開發者')
INSERT [dbo].[XpRole] ([Id], [Name]) VALUES (N'DeptMgr', N'部門主管')
GO
INSERT [dbo].[XpRoleProg] ([Id], [RoleId], [ProgId], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'2koAJkBw89', N'Adm', N'XpProg', 1, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[XpRoleProg] ([Id], [RoleId], [ProgId], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'3lZiDGr9R5', N'All', N'Column', 1, 9, 1, 0, 0, 0, 9, 0)
INSERT [dbo].[XpRoleProg] ([Id], [RoleId], [ProgId], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'5uUEMXOUVx', N'Adm', N'DataDictIm', 1, 9, 0, 0, 0, 0, 0, 0)
GO
INSERT [dbo].[XpUser] ([Id], [Name], [Account], [EmpNo], [Pwd], [DeptId], [PhotoFile], [Status]) VALUES (N'Bruce', N'bruce', N'aa', N'14700', N'QSS8CpM1wn8IbyS6IHpJEg', N'ST', NULL, 1)
INSERT [dbo].[XpUser] ([Id], [Name], [Account], [EmpNo], [Pwd], [DeptId], [PhotoFile], [Status]) VALUES (N'Dyrel', N'銘豪', N'bb', NULL, N'Ia0L2Da5DQj0z2QLTCmOfA', N'ST', NULL, 1)
INSERT [dbo].[XpUser] ([Id], [Name], [Account], [EmpNo], [Pwd], [DeptId], [PhotoFile], [Status]) VALUES (N'Ivan', N'進發', N'ivan', NULL, N'QSS8CpM1wn8IbyS6IHpJEg', N'ST', NULL, 1)
GO
INSERT [dbo].[XpUserRole] ([Id], [UserId], [RoleId]) VALUES (N'001', N'Bruce', N'Adm')
INSERT [dbo].[XpUserRole] ([Id], [UserId], [RoleId]) VALUES (N'2XmQ5Hr6Pq', N'Bruce', N'DeptMgr')
INSERT [dbo].[XpUserRole] ([Id], [UserId], [RoleId]) VALUES (N'3fFuRpaxrq', N'qkfvZcpZDD', N'All')
GO
ALTER TABLE [dbo].[Crud] ADD  CONSTRAINT [DF_Crud_IsUi]  DEFAULT ((0)) FOR [IsUi]
GO
ALTER TABLE [dbo].[CrudUiItem] ADD  CONSTRAINT [DF_UiItem_ChildNo]  DEFAULT ((0)) FOR [ChildNo]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_SendTimes]  DEFAULT ((0)) FOR [SendTimes]
GO
ALTER TABLE [dbo].[OrgEmp] ADD  CONSTRAINT [DF_OrgEmp_HrTranStatus]  DEFAULT ((1)) FOR [HrTranStatus]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_DbType]  DEFAULT ((0)) FOR [DbType]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_FromTmpTable]  DEFAULT ((0)) FOR [FromTmpTable]
GO
ALTER TABLE [dbo].[Survey] ADD  CONSTRAINT [DF_Survey_Q1]  DEFAULT ((0)) FOR [Q1]
GO
ALTER TABLE [dbo].[Survey] ADD  CONSTRAINT [DF_Survey_Q2]  DEFAULT ((0)) FOR [Q2]
GO
ALTER TABLE [dbo].[Survey] ADD  CONSTRAINT [DF_Survey_Q3]  DEFAULT ((0)) FOR [Q3]
GO
ALTER TABLE [dbo].[Survey] ADD  CONSTRAINT [DF_Survey_Q4]  DEFAULT ((0)) FOR [Q4]
GO
ALTER TABLE [dbo].[Table] ADD  CONSTRAINT [DF_Table_TranLog]  DEFAULT ((0)) FOR [TranLog]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_Sort]  DEFAULT ((9)) FOR [Sort]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_AuthRow]  DEFAULT ((0)) FOR [AuthRow]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunCreate]  DEFAULT ((0)) FOR [FunCreate]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunRead]  DEFAULT ((0)) FOR [FunRead]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunUpdate]  DEFAULT ((0)) FOR [FunUpdate]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunDelete]  DEFAULT ((0)) FOR [FunDelete]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunPrint]  DEFAULT ((0)) FOR [FunPrint]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunExport]  DEFAULT ((0)) FOR [FunExport]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunView]  DEFAULT ((0)) FOR [FunView]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunOther]  DEFAULT ((0)) FOR [FunOther]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunCreate]  DEFAULT ((0)) FOR [FunCreate]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunRead]  DEFAULT ((0)) FOR [FunRead]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunUpdate]  DEFAULT ((0)) FOR [FunUpdate]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunDelete]  DEFAULT ((0)) FOR [FunDelete]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunPrint]  DEFAULT ((0)) FOR [FunPrint]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunExport]  DEFAULT ((0)) FOR [FunExport]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunView]  DEFAULT ((0)) FOR [FunView]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunOther]  DEFAULT ((0)) FOR [FunOther]
GO
ALTER TABLE [dbo].[XpUser] ADD  CONSTRAINT [DF_XpUser_Pwd]  DEFAULT ('') FOR [Pwd]
GO
ALTER TABLE [dbo].[CrudEitem]  WITH CHECK ADD  CONSTRAINT [FK_CrudEitem_CrudEtable] FOREIGN KEY([EtableId])
REFERENCES [dbo].[CrudEtable] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CrudEitem] CHECK CONSTRAINT [FK_CrudEitem_CrudEtable]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'old: Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Column', @level2type=N'COLUMN',@level2name=N'Fid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否dragdrop UI' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Crud', @level2type=N'COLUMN',@level2name=N'IsUi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'權限種類, 0(無), 1(Ctrl), 2(Action)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Crud', @level2type=N'COLUMN',@level2name=N'AuthType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrudEitem', @level2type=N'COLUMN',@level2name=N'InputType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'改用 InputType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrudEitem', @level2type=N'COLUMN',@level2name=N'zz_EitemType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrudQitem', @level2type=N'COLUMN',@level2name=N'InputType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'改用 InputType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrudQitem', @level2type=N'COLUMN',@level2name=N'zz_QitemType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'old: ColumnCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrudRitem', @level2type=N'COLUMN',@level2name=N'Fid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ui.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrudUiItem', @level2type=N'COLUMN',@level2name=N'CrudId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上層容器Id, 0表示最外層' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrudUiItem', @level2type=N'COLUMN',@level2name=N'BoxId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'see XpCode.Type=UiItemType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrudUiItem', @level2type=N'COLUMN',@level2name=N'ItemType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Item json 字串' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrudUiItem', @level2type=N'COLUMN',@level2name=N'Info'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'refer XpCode.Type=''TableType''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DataDict', @level2type=N'COLUMN',@level2name=N'TableType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'交辦主管' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Issue', @level2type=N'COLUMN',@level2name=N'FromMgr'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建檔人員' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Issue', @level2type=N'COLUMN',@level2name=N'Creator'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建檔日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Issue', @level2type=N'COLUMN',@level2name=N'Created'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人員' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Issue', @level2type=N'COLUMN',@level2name=N'Reviser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Issue', @level2type=N'COLUMN',@level2name=N'Revised'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部門等級, base 1(級別, 區處為1級, 中心為2級)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrgDept', @level2type=N'COLUMN',@level2name=N'LevelNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所屬處級部門' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrgDept', @level2type=N'COLUMN',@level2name=N'L1DeptId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所屬部級部門' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrgDept', @level2type=N'COLUMN',@level2name=N'L2DeptId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所屬組級部門' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrgDept', @level2type=N'COLUMN',@level2name=N'L3DeptId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:在職' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrgEmp', @level2type=N'COLUMN',@level2name=N'WorkStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(暫無使用)1表示薪轉取此筆, 處理同一同工有2個銀行帳號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrgEmp', @level2type=N'COLUMN',@level2name=N'HrTranStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建檔人員' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'Creator'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建檔日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'Created'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人員' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'Reviser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'Revised'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'同Issue.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Survey', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'員工編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XpUser', @level2type=N'COLUMN',@level2name=N'EmpNo'
GO
