<form id='eform' class='x-form'>
    @await Component.InvokeAsync(XiEstr.Hide, new XiHideDto { Fid = "Id" })
    @await Component.InvokeAsync(XiEstr.Select, new XiSelectDto { Title = "專案", Fid = "ProjectId", Rows = ViewBag.Projects, Required = true })
    @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "資料表", Fid = "Code", MaxLen = 100, Required = true })
    @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "資料表名稱", Fid = "Name", MaxLen = 30 })
    @await Component.InvokeAsync(XiEstr.Check, new XiCheckDto { Title = "異動記錄", Fid = "TranLog", Value = "1", Label = "是" })
    @await Component.InvokeAsync(XiEstr.Check, new XiCheckDto { Title = "資料狀態", Fid = "Status", IsCheck = true, Value = "1", Label = "啟用" })

    <div class="row">
        @await Component.InvokeAsync(XiEstr.Read, new XiReadDto { Title = "建檔人員", Fid = "CreatorName", InRow = true, Cols = "2,3" })
        @await Component.InvokeAsync(XiEstr.Read, new XiReadDto { Title = "建檔時間", Fid = "Created", Format = BrFormatEstr.Dt, InRow = true, Cols = "2,3" })
    </div>
</form>

<div class='x-btns-box'>
    @await Component.InvokeAsync("XgAddRow", "_me.mCol.onAddRow")
</div>
<form class='x-form border-0'>
    <table class="table table-bordered x-table x-no-hline" cellspacing="0">
        <thead>
            <tr>
                @* 3.XgTh component *@
                @await Component.InvokeAsync("XgTh", new XgThDto { Title = "欄位", Required = true })
                @await Component.InvokeAsync("XgTh", new XgThDto { Title = "欄位名稱" })
                @await Component.InvokeAsync("XgTh", new XgThDto { Title = "資料型態", Required = true })
                <th>可空值</th>
                <th>預設值</th>
                <th>排序</th>
                <th>說明</th>
                <th>維護</th>
                <th>資料狀態</th>
            </tr>
        </thead>
        <tbody id="tbodyCol"></tbody>
    </table>
</form>
<vc:xg-save-back />

<script id="tplCol" type="text/template">
    <tr>
        @await Component.InvokeAsync(XiEstr.Hide, new XiHideDto { Fid = "Id" })
        <td>@await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Fid = "Code", Value = "{{Code}}", MaxLen = 100, Required = true })</td>
        <td>@await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Fid = "Name", Value = "{{Name}}", MaxLen = 30 })</td>
        <td>@await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Fid = "DataType", Value = "{{DataType}}", MaxLen = 20, Required = true })</td>
        <td class="text-center">@await Component.InvokeAsync(XiEstr.Check, new XiCheckDto { Fid = "Nullable", Required = false, Value = "1" })</td>
        <td width="120px">@await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Fid = "DefaultValue", Value = "{{DefaultValue}}", MaxLen = 100 })</td>
        <td width="80px">@await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Fid = "Sort", Value = "{{Sort}}", MaxLen = 3, Required = false, InputAttr = "width:50px", ClsBox = "x-center" })</td>
        <td>@await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Fid = "Note", Value = "{{Note}}", MaxLen = 100 })</td>
        <td class="text-center">@await Component.InvokeAsync("XgDeleteRow", "_me.mCol.onDeleteRow")</td>
        <td class="text-center">@await Component.InvokeAsync(XiEstr.Check, new XiCheckDto { Fid = "Status", IsCheck = true, Value = "1" })</td>
    </tr>
</script>