<script nonce="@_Fun.Nonce">
    $(function () {
        _me.init();
    });

    var _me = {
        init: function () {
            var config = {
                columns: [
                    { data: '_F1' },
                    { data: 'ProjectCode', orderable: true },
                    { data: 'DbName' },
                    { data: 'Code', orderable: true },
                    { data: 'Name', orderable: true },
                    { data: 'CreatorName' },
                    { data: 'TranLog' },
                    { data: '_Fun' },
                    { data: 'Status', orderable: true },
                ],
                columnDefs: [
                    { targets: [0], render: function (data, type, full, meta) {
                        return _me.crudR.dtCheck0(full.Id);
                    }},
                    { targets: [6], render: function (data, type, full, meta) {
                        return _me.crudR.dtYesEmpty(data);
                    }},
                    { targets: [7], render: function (data, type, full, meta) {
                        return _me.crudR.dtCrudFun(full.Id, full.Name, true, true, true);
                    }},
                    { targets: [8], render: function (data, type, full, meta) {
                        return _me.crudR.dtStatusName(data);
                    }},
                ],
            };

            //init crud
            _me.mCol = new EditMany('Id', 'tbodyCol', 'tplCol', 'tr');
            new CrudR(config, [null, _me.mCol]);
        },

        //generate Word document
        onGenWord: function () {
            var values = _icheck.getCheckeds(_me.crudR.divRead);
            if (values.length > 0)
                window.location = 'GenWord?keys=' + values.join(',');
            else
                _tool.msg(R.selectRow);
        },

    }; //class
</script>

<vc:xg-prog-path />
<div class="x-prog">
    <!-- read form-->
    <div id="divRead">
        <!-- condition -->
        <form id='formRead' class='x-form mb-0'>
            <div class="row">
                @await Component.InvokeAsync(XiEstr.Select, new XiSelectDto { Title = "專案", Fid = "ProjectId", Rows = ViewBag.Projects, InRow = true })
                @await Component.InvokeAsync("XgFindTbar", new XgFindTbarDto { HasReset = true, HasFind2 = true })
            </div>
            @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "資料表", Fid = "Code", MaxLen = 30 })
        </form>
        <form id='formRead2' class='x-form'>
            @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "資料表名稱", Fid = "Name", MaxLen = 30 })
            @await Component.InvokeAsync(XiEstr.Select, new XiSelectDto { Title = "異動記錄", Fid = "TranLog", Rows = ViewBag.YesNos })
            @await Component.InvokeAsync(XiEstr.Select, new XiSelectDto { Title = "資料狀態", Fid = "Status", Rows = ViewBag.Statuses })
        </form>

        <div class='x-btns-box mt-1'>
            @await Component.InvokeAsync("XgCreate")
            @await Component.InvokeAsync("XgExport")
            <button type="button" class="btn btn-secondary" data-onclick="_me.onGenWord">產生文件</button>
        </div>

        <!-- result list -->
        <table id="tableRead" class="table table-bordered x-table" cellspacing="0">
            <thead>
                <tr>
                    <th width="60px">選取</th>
                    <th>專案</th>
                    <th>資料庫</th>
                    <th>資料表</th>
                    <th>資料表名稱</th>
                    <th>建檔人員</th>
                    <th width='90px'>異動記錄</th>
                    <th width='90px'>維護</th>
                    <th width='110px'>資料狀態</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- edit form-->
    <div id="divEdit" class="d-none">
        <partial name="Edit" />
    </div>
</div>
