<form id='eform' class='xg-form xg-mb10'>
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "欄位代碼", Fid = "Code", Required = true, MaxLen = 30 })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "欄位中文名", Fid = "Name", Required = true, MaxLen = 30 })
    @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "資料表類別", Fid = "TableType", Rows = ViewBag.TableTypes })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "資料類型", Fid = "DataType", Required = true, MaxLen = 30 })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "預設值", Fid = "DefaultValue", MaxLen = 30 })
    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = "可空白", Fid = "Nullable", IsCheck = true, Value = "1", Label = "是" })
    @await Component.InvokeAsync("XiText", new XiTextDto { Title = "欄位說明", Fid = "Note", MaxLen = 100, Cols = "2,5" })
</form>
<vc:xg-save-back />
