<script nonce="@_Fun.Nonce">
    $(function () {
        _me.init();
    });

    var _me = {
        init: function () {
            var config = {
                columns: [
                    { data: 'TableTypeName', orderable: true },
                    { data: 'Code', orderable: true },
                    { data: 'Name' },
                    { data: 'DataType' },
                    { data: 'Nullable' },
                    { data: 'DefaultValue' },
                    { data: 'Note' },
                    { data: '_Fun' },
                ],
                columnDefs: [
                    { targets: [4], render: function (data, type, full, meta) {
                        return _me.crudR.dtYesEmpty(data);
                    }},
                    { targets: [7], render: function (data, type, full, meta) {
                        return _me.crudR.dtCrudFun(full.Code, full.Name, true, true, true);
                    }},
                ],
            };

            //init crud
            new CrudR(config, [new EditOne('Code')]);
        },

    }; //class
</script>

<vc:xg-prog-path />
<div class="x-prog">
    <div id="divRead">
        <form id='formRead' class='x-form mb-0'>
            <div class="row">
                @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "資料表類別", Fid = "TableType", Rows = ViewBag.TableTypes, InRow = true })
                @await Component.InvokeAsync("XgFindTbar", new XgFindTbarDto { HasReset = true })
            </div>
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = "欄位代碼", Fid = "Code", MaxLen = 30 })
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = "欄位中文名", Fid = "Name", MaxLen = 30, TitleTip = "使用模糊查詢" })
        </form>

        <div class="x-btns-box">
            @await Component.InvokeAsync("XgCreate", new { fnOnClick = "_me.crudR.onCreate" })
        </div>
        <table id="tableRead" class="table table-bordered x-table" cellspacing="0">
            <thead>
                <tr>
                    <th>資料表類別</th>
                    <th>欄位代碼</th>
                    <th>欄位中文名</th>
                    <th>資料型態</th>
                    <th>可空白</th>
                    <th>預設值</th>
                    <th>欄位說明</th>
                    <th width='90px'>功能</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="divEdit" class="d-none">
        <partial name="Edit" />
    </div>
</div>