<form id='eform' class='x-form'>
	<div class="row">
		<div class="col-md-2 x-label">資料Id</div>
		<div class="col-md-5 x-input">
			@await Component.InvokeAsync("XiRead", new XiReadDto { Fid = "Id", InRow = true, InputAttr = "id='Id'", Width = 100 })
			<button type="button" id="btnAddWatch" class="btn btn-success" data-onclick="_me.onAddWatch">加入追踪</button>
			<button type="button" id="btnDeleteWatch" class="btn btn-danger" data-onclick="_me.onDeleteWatch">取消追踪</button>
			<button type="button" id="btnKeepIssue" class="btn btn-secondary" data-onclick="_me.onKeepIssue">延續工作</button>
		</div>
	</div>
	<div class="row">
		@await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "專案", Fid = "_ProjectId", Required = true, Rows = ViewBag.Projects, InputAttr = "onchange=_me.onChgProject(true)", InRow = true })
		@await Component.InvokeAsync("XiText", new XiTextDto { Title = "回報單位代號", Fid = "RptDeptCode", MaxLen = 10, Cols = "2,2", InRow = true })
	</div>
	<div class="row">
		@await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "專案功能", Fid = "ProgId", Required = true, InRow = true })
		@await Component.InvokeAsync("XiText", new XiTextDto { Title = "回報人員編", Fid = "RptUser", Cols = "2,2", MaxLen = 10, InRow = true, LabelTip = "此欄位用於寄送意度調查問卷。" })
	</div>
	<div class="row">
		@await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "資料種類", Required = true, Fid = "IssueType", Rows = ViewBag.IssueTypes, InRow = true })
		@await Component.InvokeAsync("XiText", new XiTextDto { Title = "回報方式", Fid = "RptType", MaxLen = 30, Cols = "2,2", InRow = true })
	</div>
	<div class="row">
		@await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "處理人員", Fid = "OwnerId", Required = true, Rows = ViewBag.Users, InRow = true })
		@await Component.InvokeAsync("XiDate", new XiDateDto { Title = "工作日期", Fid = "WorkDate", Required = true, InRow = true })
	</div>

	<div class="row">
		@await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "交辦主管", Fid = "FromMgr", Rows = ViewBag.Users, InRow = true })
		@await Component.InvokeAsync("XiInt", new XiIntDto { Title = "工作時數", Fid = "WorkHours", Required = true, InRow = true, Cols = "2,1" })
	</div>

	<div class="row">
		@await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = "已結案", Fid = "IsFinish", Label = "是", InRow = true })
	</div>

	@await Component.InvokeAsync("XiText", new XiTextDto { Title = "標題", Fid = "Title", Required = true, MaxLen = 255, Cols = "2,6" })
	@await Component.InvokeAsync("XiTextarea", new XiTextareaDto { Title = "內容說明", Fid = "Note", RowsCount = 8, MaxLen = 1000, Cols = "2,6" })

	<div class="row">
		@await Component.InvokeAsync("XiRead", new XiReadDto { Title = "建檔人員", Fid = "CreatorName", InRow = true })
		@await Component.InvokeAsync("XiRead", new XiReadDto { Title = "修改人員", Fid = "ReviserName", InRow = true })
	</div>
	<div class="row">
		@await Component.InvokeAsync("XiRead", new XiReadDto { Title = "建檔日期", Fid = "Created", Format = BrFormatEstr.Dt, InRow = true })
		@await Component.InvokeAsync("XiRead", new XiReadDto { Title = "修改日期", Fid = "Revised", Format = BrFormatEstr.Dt, InRow = true })
	</div>

</form>

<div class='x-btns-box'>
    <span class="x-span-label">上傳檔案</span>
	@await Component.InvokeAsync("XgAddRow", "_me.mIssueFile.onAddRow()")
</div>
<form id='eformIssueFile' class='x-form border-0'>
    <table class="table x-table x-no-hline" cellspacing="0">
        <thead>
            <tr>
				<th>檔案名稱</th>
				<th>上傳日期</th>
				<th></th>
            </tr>
        </thead>
		<tbody id="tbodyIssueFile"></tbody>
    </table>
</form>

<div class='x-btns-box'>
	<span class="x-span-label">相關問題</span>
	@await Component.InvokeAsync("XgAddRow", "_me.mIssueRelat.onAddRow()")
</div>
<form id='eformIssueRelat' class='x-form border-0'>
	<table class="table x-table x-no-hline" cellspacing="0">
		<thead>
			<tr>
				<th>來源問題Id</th>
				<th>標題</th>
				<th>建檔日期</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="tbodyIssueRelat"></tbody>
	</table>
</form>

<vc:xg-save-back/>

<script id="tplIssueFile" type="text/template">
	<tr>
		@await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Id" })
		<td>@await Component.InvokeAsync("XiFile", new XiFileDto { Fid = "FileName" })</td>
		<td>@await Component.InvokeAsync("XiRead", new XiReadDto { Fid = "Created" })</td>
		<td width='60px' class='text-center'>@await Component.InvokeAsync("XgDeleteRow", "_me.mIssueFile.onDeleteRow(this)")</td>
	</tr>
</script>
<script id="tplIssueRelat" type="text/template">
	<tr>
		@await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Id" })
		<td>@await Component.InvokeAsync("XiText", new XiTextDto { Fid = "SourceIssue", Required = true })</td>
		<td>@await Component.InvokeAsync("XiRead", new XiReadDto { Fid = "Title" })</td>
		<td>@await Component.InvokeAsync("XiRead", new XiReadDto { Fid = "Created" })</td>
		<td width='60px' class='text-center'>@await Component.InvokeAsync("XgDeleteRow", "_me.mIssueRelat.onDeleteRow(this)")</td>
	</tr>
</script>

