<script type="text/javascript">
    $(function () {
        _me.init();
    });

    var _me = {
        issueId: '',        //要追踪或取消的Issue.Id
        hasWatchId: '',     //是否有IssueWatch.Id

        init: function () {
            //datatable config
            var config = {
                pageLength: 50,
                columns: [
                    { data: 'ProjectName', orderable: true },
                    { data: 'ProgName', orderable: true },
                    { data: 'IssueTypeName', orderable: true },
                    { data: 'WorkDate', orderable: true },
                    { data: 'WorkHours' },
                    { data: 'Id' },
                    { data: 'Title' },
                    { data: 'IsFinish' },       //7:Issue是否結案
                    { data: 'OwnerName' },
                    { data: 'SendTimes' },      //9:寄送問卷次數
                    { data: '_Survey' },        //10.空白(沒有問卷Id && 沒有回報人)/已填問卷(有問卷Id)/寄送問卷(有回報人)
                    { data: '_fun' },
                ],
                columnDefs: [
                    { targets: [7], render: function (data, type, full, meta) {
                        return _me.crudR.dtYesEmpty(data);
                    }},
                    /*
                    { targets: [8], render: function (data, type, full, meta) {
                        return _me.crudR.dtYesEmpty(data);
                    }},
                    */
                    { targets: [10], render: function (data, type, full, meta) {
                        return _str.notEmpty(full.SurveyId) ? '是' :
                            (full.IsFinish == 1 && _str.notEmpty(full.RptUser) && full.OwnerId == _fun.userId)
                                ? `<button type="button" class="btn xg-btn xg-btn-size" onclick="_me.onSurvey('${full.Id}')">寄問卷</button>`
                                : '';
                    }},
                    { targets: [11], render: function (data, type, full, meta) {
                        return _me.crudR.dtCrudFun(full.Id, full.Name, true, true, true);
                    }},
                ],
            };

            //initial
            _me.mIssueFile = new EditMany('Id', 'tbodyIssueFile', 'tplIssueFile', 'tr');
            _me.mIssueRelat = new EditMany('Id', 'tbodyIssueRelat', 'tplIssueRelat', 'tr');
            new CrudR(config, [null, _me.mIssueFile, _me.mIssueRelat]);

        },

        //開啟編輯畫面時自動觸發
        fnAfterOpenEdit: function (fun, json) {
            if (fun == _fun.FunU || fun == _fun.FunV) {
                //設定專案功能欄位
                _me.onChgProject(true, json.ProgId);

                //設定追踪按鈕
                _me.issueId = json.Id;
                _me.hasWatchId = _str.notEmpty(json.WatchId);
                _me.setWatchBtn(true);

                //設定延續工作按鈕的狀態
                _me.setKeepBtn(json.OwnerId == _fun.userId);
            } else {                
                _iselect.set('OwnerId', _fun.userId, _me.eform0);       //處理人員預設自己
                _idate.set('WorkDate', _date.uiToday(), _me.eform0);    //工作日期預設今天

                _me.setWatchBtn(false);
                _me.setKeepBtn(false);
            }
        },

        //寄問卷
        onSurvey: function (issueId) {
            _tool.ans('是否確定寄送問卷?', async () => {
                await _ajax.getStrA('SendSurvey', { issueId: issueId }, function (str) {
                    var ok = (str == '1');
                    _tool.msg(ok ? '成功寄送問卷。' : '無法寄送問卷 !!');
                    if (ok) {
                        _me.crudR.onFind();
                    }
                });
            });
        },

        //設定延續工作按鈕的狀態
        setKeepBtn: function (isShow) {
            var btn = _me.divEdit.find('#btnKeepIssue');
            if (isShow)
                _me.showBtn(btn);
            else
                btn.hide();
        },

        //show & enabled button
        showBtn: function (btn) {
            btn.show();
            _btn.setEditO(btn, true);
        },

        //設定追踪按鈕的狀態
        setWatchBtn: function (isShow) {
            var box = _me.divEdit;
            var btnAdd = box.find('#btnAddWatch');
            var btnDel = box.find('#btnDeleteWatch');
            if (!isShow){
                btnAdd.hide();
                btnDel.hide();
            } else if (_me.hasWatchId){
                btnAdd.hide();
                _me.showBtn(btnDel);
            } else {
                _me.showBtn(btnAdd);
                btnDel.hide();
            }
        },

        //on change projectId
        onChgProject: function (isEdit, progId) {
            _iselect.onChangeParent('_ProjectId', 'ProgId', progId, 'GetPrjProgs', isEdit);
        },

        //onclick viewFile, called by XiFile component
        onViewFile: function (table, fid, elm) {
            if (fid == 'FileName')
                _me.mIssueFile.onViewFile(table, fid, elm);
        },

        onMyToday: function () {
            var today = _date.uiToday();
            var box = _me.rform;
            _me.crudR.onResetFind();   //reset
            _iselect.set('OwnerId', _fun.userId, box);
            _idate.set('WorkDate', today, box);
            _idate.set('WorkDate2', today, box);
            _me.crudR.onFind();
        },

        onMyWeek: function () {
            var box = _me.rform;
            _me.crudR.onResetFind();   //reset
            _iselect.set('OwnerId', _fun.userId, box);
            _idate.set('WorkDate', _date.uiWeekMonday(), box);
            _idate.set('WorkDate2', _date.uiWeekFriday(), box);
            _me.crudR.onFind();
        },

        //我的未結案
        onMyNotFinish: function () {
            var box = _me.rform;
            _me.crudR.onResetFind();   //reset
            _iselect.set('OwnerId', _fun.userId, box);
            _iselect.set('IsFinish', '0', box);
            _me.crudR.onFind();
        },
        
        //我的追踪
        onMyWatch: function () {
            var box = _me.rform;
            _me.crudR.onResetFind();   //reset
            _iselect.set('_IsWatch', '1', box);
            _me.crudR.onFind();
        },

        //加入追踪
        onAddWatch: async()=>{
            _tool.ans('是否確定加入追踪?', async()=>{
                await _ajax.getStrA('AddWatch', {issueId: _me.issueId}, function(str){
                    var ok = (str == '1');
                    _tool.msg(ok ? '成功加入追踪。' : '無法加入此筆追踪 !!');
                    if (ok){
                        _me.hasWatchId = true;
                        _me.setWatchBtn(true);
                    }                        
                });
            });
        },

        //取消追踪
        onDeleteWatch: async () => {
            _tool.ans('是否確定取消追踪?', async()=>{
                await _ajax.getStrA('DeleteWatch', { issueId: _me.issueId }, (str) => {
                    var ok = (str == '1');
                    _tool.msg(ok ? '已取消追踪。' : '無法取消此筆追踪 !!');
                    if (ok){
                        _me.hasWatchId = false;
                        _me.setWatchBtn(true);
                    }                        
                });
            });
        },

        //延續工作        
        onKeepIssue: ()=>{
            _tool.ans('是否確定延續此筆工作?', ()=>{
                //變成新增狀態
                _me.crudE.editToNew(); 

                //設定按鈕
                _me.setWatchBtn(false);
                _me.setKeepBtn(false);

                //title欄位前面加上'(續)'
                var title = _obj.get('Title', _me.eform0);
                _itext.setO(title, '(續)'+_itext.getO(title))
                _idate.set('WorkDate', _date.uiToday(), _me.eform0);    //工作日期預設今天

                //reset & 增加一筆相關工作
                _me.mIssueFile.reset();
                _me.mIssueRelat.reset();
                _me.mIssueRelat.addRow({SourceIssue: _me.issueId});
            });
        },

    }; //class
</script>

@await Component.InvokeAsync("XgProgPath", new { names = new string[] { "專案工作維護" } })
<div class="xg-prog">
    <div id="divRead">
		<form id='formRead' class='xg-form'>
            <div class="row">
                @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "專案", Fid = "_ProjectId", Rows = ViewBag.Projects, InRow = true, InputAttr = "onchange=_me.onChgProject(false)" })
                @await Component.InvokeAsync("XgFindTbar", new XgFindTbarDto { HasReset = true })
            </div>
            @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "專案功能", Fid = "ProgId", Rows = ViewBag.PrjProgs })
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = "工作標題", Fid = "Title" })
            @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "資料種類", Fid = "IssueType", Rows = ViewBag.IssueTypes })
            @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "已結案", Fid = "IsFinish", Rows = ViewBag.YesNos })
            @* 底線欄位 _IsWatch 在後端用程式調整sql *@
            @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "已追踪", Fid = "_IsWatch", Rows = ViewBag.YesNos })
            @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "處理人員", Fid = "OwnerId", Rows = ViewBag.Users })
            @*
            @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "建檔人員", Fid = "Creator", Rows = ViewBag.Users })
            *@
            <div class="row">
                <div class="col-md-2 xg-label">工作日期</div>
                <div class="col-md-10 xg-input">
                    @await Component.InvokeAsync("XiDate", new XiDateDto { Fid = "WorkDate", InRow = true, BoxClass = "xg-inline" })
                    <span>～</span>
                    @await Component.InvokeAsync("XiDate", new XiDateDto { Fid = "WorkDate2", InRow = true, BoxClass = "xg-inline" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 xg-label">建檔日期</div>
                <div class="col-md-10 xg-input">
                    @await Component.InvokeAsync("XiDate", new XiDateDto { Fid = "Created", InRow = true, BoxClass = "xg-inline" })
                    <span>～</span>
                    @await Component.InvokeAsync("XiDate", new XiDateDto { Fid = "Created2", InRow = true, BoxClass = "xg-inline" })
                </div>
            </div>
        </form>

		<div class='xg-btns-box'>
			<vc:xg-create/>
            <button type="button" class="btn xg-btn" onclick="_me.onMyToday()">我的今天資料</button>
            <button type="button" class="btn xg-btn" onclick="_me.onMyWeek()">我的本週資料</button>
            <button type="button" class="btn xg-btn" onclick="_me.onMyNotFinish()">我的未結案</button>
            <button type="button" class="btn xg-btn" onclick="_me.onMyWatch()">我的追踪</button>
        </div>
        <table id="tableRead" class="table table-bordered xg-table" cellspacing="0">
            <thead>
                <tr>
					<th>專案</th>
                    <th>專案功能</th>
                    <th>資料種類</th>
                    <th>工作日期</th>
                    <th>工作時數</th>
                    <th>資料Id</th>
                    <th max-width='300px'>標題</th>
                    <th min-width='65px'>已結案</th>
                    <th min-width='65px'>處理人員</th>
                    <th min-width='65px'>寄送次數</th>
                    <th min-width='65px'>已填問卷</th>
                    <th width ='80px'>功能</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="divEdit" class="xg-hide">
        <partial name="Edit" />
    </div>
</div>