<!DOCTYPE html>
<style nonce="@_Fun.Nonce">
    .xu-div {
        margin: 20px;
    }

    .xu-div li {
        margin: 20px 10px;
    }

</style>
<div class="xu-div">
    <h3>歡迎使用工作日誌系統，本系統的用途為維護工作日誌，它的主要功能簡單介紹如下：</h3>
    <ol>
        <li>
            <strong>記錄工作日誌</strong><br>
            記錄人員工作內容，方便追蹤與稽核。
        </li>
        <li>
            <strong>滿意度問卷</strong><br>
            提供線上問卷功能，讓使用者能夠針對系統報修問題給予回饋，有助於持續改善。
        </li>
        <li>
            <strong>維護資料庫文件系統</strong><br>
            產生每個專案的資料庫文件系統作為開發或維護的參考，利用此文件可以自動產生個別維護功能程式。
        </li>
    </ol>
</div>