<form id='eform' class='x-form mb-2'>
    <vc:xi-hide dto='new() { Fid = "Id" }' />
    <vc:xi-read dto='new() { Title = "專案代碼", Fid = "ProjectCode" }' />
    <vc:xi-read dto='new() { Title = "資料表", Fid = "TableCode" }' />
    <vc:xi-read dto='new() { Title = "欄位", Fid = "Fid" }' />
    <vc:xi-text dto='new() { Title = "欄位名稱", Fid = "Name", MaxLen = 30 }' />
    <vc:xi-read dto='new() { Title = "資料型態", Fid = "DataType" }' />
    <vc:xi-check dto='new() { Title = "資料狀態", Fid = "Status", IsCheck = true, Value = "1", Label = "啟用" }' />
    <vc:xi-text dto='new() { Title = "說明", Fid = "Note", MaxLen = 30, Cols = "2,5" }' />
</form>
<vc:xg-save-back />
