<form id='eform' class='x-form mb-2'>
    @await Component.InvokeAsync(XiEstr.Hide, new XiHideDto { Fid = "Id" })
    @await Component.InvokeAsync(XiEstr.Read, new XiReadDto { Title = "專案代碼", Fid = "ProjectCode" })
    @await Component.InvokeAsync(XiEstr.Read, new XiReadDto { Title = "資料表", Fid = "TableCode" })
    @await Component.InvokeAsync(XiEstr.Read, new XiReadDto { Title = "欄位", Fid = "Code" })
    @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "欄位名稱", Fid = "Name", MaxLen = 30 })
    @await Component.InvokeAsync(XiEstr.Read, new XiReadDto { Title = "資料型態", Fid = "DataType" })
    @await Component.InvokeAsync(XiEstr.Check, new XiCheckDto { Title = "資料狀態", Fid = "Status", IsCheck = true, Value = "1", Label = "啟用" })
    @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "說明", Fid = "Note", MaxLen = 30, Cols = "2,5" })
</form>
<vc:xg-save-back />
