@inject IHtmlLocalizer<DbAdm.R0> R

<form id='eform' class='xg-form'>
    @await Component.InvokeAsync("XiHide", new { fid = "Id" })
    @await Component.InvokeAsync("XiRead", new { title = R["ProjectCode"].Value, fid = "ProjectCode" })
    @await Component.InvokeAsync("XiRead", new { title = R["Table"].Value, fid = "TableCode" })
    @await Component.InvokeAsync("XiRead", new { title = R["Column"].Value, fid = "Code" })
    @await Component.InvokeAsync("XiText", new { title = R["ColName"].Value, fid = "Name", maxLen = 30, required = true })
    @await Component.InvokeAsync("XiRead", new { title = R["DataType"].Value, fid = "DataType" })
    @await Component.InvokeAsync("XiCheck", new { title = R["Status"].Value, fid = "Status", isCheck = true, value = "1", label = R["Active"].Value })
    @await Component.InvokeAsync("XiText", new { title = R["Note"].Value, fid = "Note", maxLen = 30 })
</form>
@await Component.InvokeAsync("XgSaveBack")