
/* jquery validate error label */
span.error {
    color: red;
    margin-bottom: 0 !important;
}

.x-err {
    /*border: #5b48e5;
    border-style: solid;
    border-width: thin;*/
    border: 1px solid #FF8B55 !important;
    /*border-style: solid !important;
    border-width: thin !important;*/
}

/*  
.x-errlab {
    text-align: left;
    font-size: 14px;
    font-weight: lighter;
    color: red;
    display: none;
}
*/

/* (+)相鄰選擇器, 
  1.與 x-error2 相鄰的 error label 要顯示 
  2.在 x-error2box 裡面的 error label 要顯示 
.x-error + .x-errorlabel, .x-errorbox + .x-errorlabel {
    display: block !important;
}
*/

/* 在 x-error2box 裡面的 input 要顯示錯誤框 */
/*.x-errorbox > input,
.x-errorbox > button, .x-errorbox div.x-icheck {
    border: 1px solid #FF8B55 !important;
}
*/