/* 查詢畫面 */

/* 右上方工具列 */
.x-find-tbar {
    padding-top: 8px;
    display: flex !important;
    gap: 2px;
}

/* ?? find form, use $.slideToggle() */
.x-find-form {
    padding: 10px 0 10px 0;
}

    /* init to open status, toggle will add open class */
    .x-find-form.open {
        /*display: none;*/
        padding: 10px 0 10px 0;
    }