
.xf-start, .xf-end, .xf-node {
	cursor: move;
}
.xf-start-text, .xf-end-text, .xf-node-text {
	fill: black;
	cursor: move;
}
/* when hover */
.xf-end.on, .xf-node.on {
	stroke: blue;
	stroke-width: 3px;
}

/* 1.開始節點(also button) */
.xf-start {
	r: 20; /* 半徑, 沒有單位 */
	fill: #E2F4D7;
	background: #E2F4D7;
	stroke: #BAE89F;
	stroke-width: 1px;
	border: #BAE89F 1px solid;
}

/* 2.結束節點(also button) */
.xf-end {
	r: 20;
	fill: #FEE1ED;
	background: #FEE1ED;
	stroke: #FD88BF;
	stroke-width: 1px;
	border: #FD88BF 1px solid;
}

/* 3.一般節點(also button) */
.xf-node {
	fill: #DFDEFE;
	background: #DFDEFE;
	stroke: #B6B4E9;
	stroke-width: 1px;
	border: #B6B4E9 1px solid;
	rx: 5px; /* 水平圓角半徑 */
	ry: 5px; /* 垂直圓角半徑 */
}

/* 4.自動節點?? */
.xf-auto {
	fill: white;
	stroke: black;
	stroke-width: 1px;
}
.xf-auto-text {
    fill: black;	
}

/* 節點文字後的小方塊, 用來拖拉流程線 */
.xf-pin {
	fill: orange;
	stroke: red;
	stroke-width: 1px;
	cursor: crosshair;	/* 十字形狀 */
}

/* 流程線 */
.xf-line {
	fill: none;
	stroke: #898484;
	stroke-width: 2px;
	/*stroke-linejoin: round;*/
}
/* temp line 或無迄點 */
.xf-line.off {
	stroke: red;
}

/* 流程線指定起點位置 */
	.xf-line.xf-way {
		stroke-dasharray: 3,3;
	}

/* line text */
.xf-line-text {
	fill: black;	
}

/* 流程線末端箭頭 */
.xf-arrow {
	stroke: #898484;
	stroke-width: 2px;
	stroke-linecap: round; /*圓邊*/
	cursor: crosshair; /* 十字形狀 */
}

/* context menu */
.xf-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	padding: 0;
	min-width: 100px;
}

	/* Each of the items in the list */
	.xf-menu li {
		padding: 6px 15px;
		cursor: pointer;
		list-style-type: none;
		transition: all .3s ease;
	}

		.xf-menu li:hover {
			background-color: #DEF;
		}
		.xf-menu li.off {
			color: #aaa;
			cursor: not-allowed;
		}
