
/* form without line */
/* 停用 x-row */
.x-form {
    /*font size same to .form-control*/
    font-size: 16px;
    border: none;
    /*margin-bottom: 0px;*/
}

    /* 停用 x-row
    .x-form .zz_x-row {
        margin: 0;
        border: none;
    }
    */

    .x-form .x-input {
        padding-top: 7px;
        min-height: 43px;
    }
    .x-form.x-border {
        margin: 0 auto;
        padding: 20px 16px;
        border: solid 1px lightgray !important;
        border-radius: 6px;
    }

/* title required sign */
.x-required {
    color: red;
    font-weight: bold;
}

/* animation 
.x-fade.hide {
    display: none;
}
*/