/* date, datetime */

/* match datepicker.css .date setting, for keep input width same to date at query form */
.x-date-w {
    width: 180px !important;
}

.xi-dt-hour, .xi-dt-min {
    width: 70px; 
    display: inline-block;
}