/* main form */
.xg-leftmenu {
    margin-left: 0;
    padding: 0;
    /*min-width: 250px;
    max-width: 300px;*/
    width: 250px;
    height: 100%;
    /*font-size: 14px;*/
    /*margin: 0;*/
    background: #FFFFFF;
    transition: 0.5s;
    z-index: 1000;
}

.xg-leftmenu.xg-close {
    transition: 0.5s;
    margin-left: -250px;
}
/*
.xg-leftmenu.xg-close span, 
.xg-leftmenu.xg-close .xg-arrow {
    display: none;
    transition: 0.5s;
}
*/

    /* menu item */
    .xg-leftmenu li {
        /*text-indent: 0;*/
        line-height: 42px;
        border-bottom: solid 1px #E5E5E5;
        /*color: #fff;*/
    }

    /* 文字 */
    .xg-leftmenu a {
        display: block; /* 選取的有效寬度為100% */
        font-size: 15px;
        color: #555 !important;
        text-decoration: none !important;
    }

    .xg-leftmenu a:hover {
        cursor: pointer;
        text-decoration: none; /* remove underline */
        color: #EDD8E7 !important;
        background: #333237;
    }

.xg-leftmenu a:hover i {
    color: #EDD8E7;
    background: #333237;
}

/* icon */
.xg-leftmenu i {
    margin-right: 10px;
    padding-left: 12px;
    /*color: #fff;*/
    width: 25px;    /* 讓文字對齊 */
}

    .xg-leftmenu .xg-arrow:before {
        float: right;
        margin-right: 20px;
        font-family: 'icomoon';
        content: "\f107"; /* down arrow */
    }
.xg-leftmenu .xg-arrow.xg-open:before {
    content: "\f106";   /* up arrow */
}

.xg-leftmenu-panel {
    list-style: none;
    /*
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    */
    padding: 0;
    background: #DAF8FF;
}

.xg-leftmenu-panel li {
    border: none;
}

/* sub menu text */
.xg-leftmenu-panel a {
    /*font-size: 15px;
    color: #fff;*/
    padding-left: 22px;
}