/* 左側功能表 */
.x-leftmenu {
    margin-left: 0;
    padding: 0;
    /*min-width: 250px;
    max-width: 300px;*/
    width: 250px;
    height: 100%;
    /*margin: 0;*/
    transition: 0.5s;
    z-index: 1000;
}

.x-leftmenu.x-close {
    transition: 0.5s;
    margin-left: -250px;
}
/*
.x-leftmenu.x-close span, 
.x-leftmenu.x-close .x-arrow {
    display: none;
    transition: 0.5s;
}
*/

    /* menu item */
    .x-leftmenu li {
        /*text-indent: 0;*/
        line-height: 42px;
        border-bottom: solid 1px #E5E5E5;
        /*color: #fff;*/
    }

    /* 文字 */
    .x-leftmenu a {
        display: block; /* 選取的有效寬度為100% */
        text-decoration: none !important;
    }

    .x-leftmenu a:hover {
        cursor: pointer;
        text-decoration: none; /* remove underline */
    }

.x-leftmenu a:hover i {
}

/* icon */
.x-leftmenu i {
    margin-right: 10px;
    padding-left: 12px;
    width: 25px;    /* 讓文字對齊 */
}

    .x-leftmenu .x-arrow:before {
        float: right;
        margin-right: 20px;
        font-family: 'icomoon';
        content: "\f107"; /* down arrow */
    }
    .x-leftmenu .x-arrow.x-open:before {
        content: "\f106";   /* up arrow */
    }

/* 子功能表(第2層) 的外框 */
.x-leftmenu-subbox {
    list-style: none;
    /*
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    */
    padding: 0;
}

    .x-leftmenu-subbox li {
        border: none;
    }

    /* sub menu text */
    .x-leftmenu-subbox a {
        /*font-size: 15px;
        color: #fff;*/
        padding-left: 22px;
    }