/* 彈出式視窗 */
/*
.x-modal .modal-dialog {
    min-width: 200px;
}
*/

.x-modal .modal-header {
    /*height: 10px;*/
    border-bottom: 1px solid #eee;
    padding: 9px 15px 9px 19px;
}
    .x-modal .modal-header button {
        padding: 10px 10px;
    }

.x-modal .modal-title {
    font-size: 16px;
    color: #3e8cc6;
}

.x-modal .modal-body {
    font-size: 16px;
    padding: 20px 15px 15px 15px;
}

.x-modal .modal-footer {
    border: none;
    padding: 0 20px 10px;
}

.x-modal textarea {
    width: 100%;
}
