
/* prog path, razor 只支援 inline style */
.xg-prog-path {
    height: 38px;
    padding: 8px 16px;
    font-size: 16px;
    color: #808080;
}

    .xg-prog-path ul {
        padding: 10px 0 10px 10px;
        font-size: 15px;
        color: #a5a5a5;
        background: none;
    }

@media (max-width:768px) {
    .xg-prog-path {
        font-style: italic;
    }
}

.xg-prog {
    margin: 5px 15px 10px 15px;
    padding: 15px;
    border: 1px solid #ddd !important;
    border-radius: 4px;
}

@media (max-width:768px) {
    .xg-prog {
        border: none !important;
        padding: 0;
    }
}
