
/* file url */
.xg-edit-table td {
    border-top: none;
    border-bottom: none;
}

/* include: read, edit table */
.xg-table {
    border-collapse: separate !important;
    width: 100% !important;
    font-size: 15px;
    border-width: 1px 0 0 1px !important;
    border-color: lightgray !important;
    border-style: solid !important;
}

    .xg-table th, .xg-table td {
        font-weight: normal !important;
        border-width: 0 1px 1px 0 !important;
        border-color: lightgray !important;
        border-style: solid !important;
        vertical-align: middle !important;
        text-align: center !important;
        padding: 0.75rem; /* front web */
    }

    .xg-table th {
        background: #eee;
    }

    .xg-table tr:hover {
        background: #F6F6F6;
    }

    .xg-table.xg-no-hline {
        border-width: 1px 0 1px 1px !important;
    }

        .xg-table.xg-no-hline td {
            border-width: 0 1px 0 0 !important;
        }

    .xg-table .xi-check > span {
        top: -15px !important;
        left: 8px !important;
    }

/*
.xg-table th .xi-check {
    top: -6px !important;
    left: -3px !important;
}
.xg-table tbody .xi-check {
    top: -8px !important;
}
*/

/* table v scroll */
.xg-table-vscroll {
    border-width: 1px 0 1px 1px !important;
}

.xg-table-vscroll tbody {
    display: block;
    overflow-y: scroll;
}

.xg-table-vscroll tr {
  display:flex;
}

tr input {
    padding-left: 6px !important;
    padding-right: 6px !important;
}
tr select {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

@media (max-width:768px) {
    .xg-table {
        background: #fff;
        overflow: hidden;
        border: none;
    }

        /*
        .xg-table tr:nth-of-type(2n) {
            background: #eee;
        }
        .xg-table th, .xg-table td {
            margin: 0.5em 1em;
        }

    .xg-table {
        min-width: 100%;
    }
        */

    .xg-table tbody {
        padding-top: 3px;
    }

        .xg-table th {
            display: none;
        }

        .xg-table td {
            text-align: left;
            display: block;
            border: none !important;
        }

            .xg-table td:first-child {
                padding-top: 15px;
                border-top: 1px solid lightgray !important;
            }
            .xg-table td:last-child {
                padding-bottom: 15px;
            }

            .xg-table td:before {
                content: attr(data-rwd-th);
                font-weight: bold;
                /*width: 6.5em;*/
                display: inline-block;
                color: darkblue;
                text-align: left;
            }

        /*
        .xg-table th, .xg-table td {
            text-align: left;
        }

            .xg-table th, .xg-table td:before {
                color: #D20B2A;
                font-weight: bold;
            }
        */
}