
/* bootstrap alert */
.x-alert {
    position: fixed; 
    top: 48px; 
    right: 3px; 
    width: auto;
    z-index: 9999; 
    border-radius: 5px
}

/*
#x-wait {
    display: none;  
    position: fixed;
    top: 33%;
    left: 50%;
}
*/

/* x-msg class for both xgMsg & xgAns */
.x-msg .modal-dialog {
    min-width: 280px;
    max-width: 480px;
}
.x-msg .modal-header {
    border-bottom: none;
    padding: 9px 15px 9px 19px;
    background-color: none;
}
.x-msg .modal-body {
    font-size: 16px;
    padding: 10px 20px 30px 20px;
}
.x-msg .modal-footer {
    border-bottom: none;
    padding: 10px;
}

/*
#xgArea .modal-dialog {
    width: 480px;
}
*/

/* 顯示時才設定 display flex, 否則會影響其他畫面無法捉取mouse事件 */
.x-image.modal {
    /*display: flex !important;
    align-items: center;
    justify-content: center;*/
}

.x-image .modal-dialog {
    /*display: inline-block;*/
    display: table;
    margin: auto;
    max-width: none;
}

.x-image .modal-content,
.x-image .modal-body,
.x-image .modal-footer {
    background: white;
    border: none;
    padding: 0;
}

.x-image img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
}

/* When the body has the wait class, we turn
the scrollbar off with overflow:hidden */
body .x-show-wait {
    overflow: hidden;
}

/* Anytime the body has the wait class, our
   modal element will be visible */
body.x-show-wait .x-wait {
    display: block;
}
