@charset "utf-8";

/* === 修改預設 style === */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-size: 14px !important;
}

body, label {
    color: #424243;
    font-family: 微軟正黑體,Arial,Roboto,Helvetica Neue,Helvetica,sans-serif;
}

/* button 和後面的 icon 的間距*/
.btn > i {
    padding-left: 3px;
}