@{
    var importType = ViewBag.ImportType;
}
<vc:xg-prog-path />
<div class="x-prog">
    <div id="divRead">
        <form id='formRead' class='x-form'>
            <div class="row">
                @*await Component.InvokeAsync(XiEstr.Text, new XiTextDto { title = R["FileName"].Value, fid = "FileName", inRow = true })*@
                <vc:xi-text dto="@(new XiTextDto { Title = "匯入檔名", Fid = "FileName", InRow = true })"></vc:xi-text>
                @await Component.InvokeAsync("XgFindTbar")
            </div>
        </form>

        <div class='x-btns-box'>
            <button type="button" class="btn btn-secondary" data-onclick="_me.onOpenImport">匯入Excel</button>
            <a class="btn btn-secondary" href="Template">下載範本</a>
        </div>
        <table id="tableRead" class="table x-table" cellspacing="0">
            <thead>
                <tr>
                    <th>成功筆數</th>
                    <th>失敗筆數</th>
                    <th>合計筆數</th>
                    <th>匯入檔案</th>
                    <th>建檔人員</th>
                    <th>建檔日期</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- import modal -->
<div id='modalImport' class='modal fade'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h6 class='modal-title'>匯入Excel:</h6>
                <button type='button' class='close' data-bs-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body p-4'>
                <input type="file">
                <div id="divMsg" class="d-none text-primary"></div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary xd-cancel' data-bs-dismiss='modal'>取消</button>
                <button type='button' class='btn btn-primary xd-yes' data-onclick='_me.onImport'>匯入</button>
            </div>
        </div>
    </div>
</div>