/* color & font size only */

/* ==== html, body ==== */
html, body {
    font-size: 16px !important; /* global */
    font-family: 微軟正黑體,Arial,Roboto,Helvetica Neue,Helvetica,sans-serif;
    /*background: #232B3F;*/
}
body, label {
    /* color: #9797AB !important;*/
}
.form-control, .form-select {
    /*background: #1A202E;*/
}

/* ==== left menu ==== */
.x-leftmenu {
    background: #E0E0E0;
    border-right: 1px solid #C1C1C1;
}

/* li(item),a(文字),i(icon) */
.x-leftmenu li {
    /*
    color: #fff;
    border-bottom: solid 1px #E5E5E5;
    */
}

    /* 文字 */
    .x-leftmenu a {
        font-size: 15px;
        color: #555 !important;
    }


.x-leftmenu a, .x-leftmenu i {
    color: #222222 !important;
}

.x-leftmenu a:hover, .x-leftmenu a:hover i {
    color: #222222 !important;
    background: #CFCFCF;
}
/*
.x-leftmenu a:hover i {
    color: #222222;
    background: #EEEEEE;
}
*/

/* 子功能表 */
.x-leftmenu-subbox {
    background: #FAFAFA;
}

    .x-leftmenu-subbox a {
        color: #222222;
    }

    .x-leftmenu-subbox a:hover {
        background: #EEEEEE !important;
    }

.x-table th {
    background: #E0E0E0 !important;
}

.x-table tr:hover {
    background: #FAFAFA !important;
}


/* ==== modal ==== */
.x-modal .modal-header {
    border-bottom: none;
    background: #FAFAFA;
}
.x-modal .modal-body, .x-modal .modal-footer {
    /*background: #404040;*/
}


/* === checkbox/radio === */
/* checkbox, span is square/round checked sign */
.xi-check > span {
    /*border: 2px solid #BFBFBF;
	background: white;*/
}

/* checked background */
.xi-check > input:checked + span {
    /*border: 2px solid #0D6EFD;
	background: #0D6EFD;*/
}

/* checked sign */
.xi-check > input:checked + span:after {
    /*border: 2px solid #F1F6FF;
	background: #1266F1;*/
}

/* radio checked sign 填滿 */
.xi-check > input:checked + .xi-rspan:after {
    /*background: #F1F6FF;*/
}   

/* disabled */
.xi-check > input:disabled + span {
    /*color: #b8b8b8;
    border: 2px solid #86B7FE;
    background: #86B7FE;
    */
}

.x-wait {
    font-size: 24px;    
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景色 */
}

.xp-prog-title {
    height: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

/* chart.js */
.chart-title {
    font-size: 24px;
}


@media (max-width:768px) {
    .x-table {
        background: #fff !important;
    } 
}

/* bootstrap */
.btn {
    font-size: .875rem !important;
}

/* change height, 38 -> 36 */
.form-control, select.form-control {
    font-size: 16px !important;
}

    .form-control:disabled, .form-control[readonly], .form-select:disabled, .form-select[readonly] {
        background-color: #eee !important;
    }



