/* color & font size only */

/* === html, body === */
html, body {
    font-size: 16px !important; /* global */
    font-family: 微軟正黑體,Arial,Roboto,Helvetica Neue,Helvetica,sans-serif;
    /*background: #232B3F;*/
}
body, label {
    /* color: #9797AB !important;*/
}

/* chart.js */
.chart-title {
    font-size: 24px;
}

/* bootstrap */
.btn {
    font-size: .875rem !important;
}

/* change height, 38 -> 36 */
.form-control, select.form-control {
    font-size: 16px !important;
}

.form-control:disabled, .form-control[readonly], .form-select:disabled, .form-select[readonly] {
    background-color: #eee !important;
}

.form-control, .form-select {
    /*background: #1A202E;*/
}

/* === 主畫面 === */
.x-main-top {
    height: 45px;
    color: #8E959C;
    background: #D6DDE4;
    border-bottom: 1px solid #8099a5;
}

    .x-main-top i {
        font-size: 20px;
        color: #8E959C;
    }

    .x-main-top a {
        color: #8E959C;
    }

.x-main-down {
    height: calc(100vh - 45px); /* 減去xu-top高度, 右邊捲軸才能與左邊分開!! */
}

.x-main-right {
    background: #f1f1f1;
}

/* === left menu === */
.x-leftmenu {
    background: #394750;
    border-right: 1px solid #8099a5;
}

    /* 分隔線 */
    .x-leftmenu li {
        border-bottom: solid 1px #535a5e;
    }

    /* 文字 */
    .x-leftmenu a {
        font-size: 15px;
    }

    .x-leftmenu a, .x-leftmenu i {
        color: #A9B2B8 !important;
    }

        .x-leftmenu a:hover, .x-leftmenu a:hover i {
            color: #fff !important;
            background: #83CC53;
        }

/* 子功能表 */
.x-leftmenu-subbox {
    background: #4695B2;
}

    .x-leftmenu-subbox a {
        color: #A9B2B8;
    }

        .x-leftmenu-subbox a:hover {
            background: #83CC53 !important;
        }


/* === table === */
.x-table th {
    background: #d6e9f9 !important;
}

.x-table tr:hover {
    background: #e5ecf1 !important;
}

/* === modal === */
.x-modal .modal-header {
    border-bottom: none;
    background: #FAFAFA;
}
.x-modal .modal-body, .x-modal .modal-footer {
    /*background: #404040;*/
}

/* === checkbox/radio === */
/* checkbox, span is square/round checked sign */
.xi-check > span {
    /*border: 2px solid #BFBFBF;
	background: white;*/
}

/* checked background */
.xi-check > input:checked + span {
    /*border: 2px solid #0D6EFD;
	background: #0D6EFD;*/
}

/* checked sign */
.xi-check > input:checked + span:after {
    /*border: 2px solid #F1F6FF;
	background: #1266F1;*/
}

/* radio checked sign 填滿 */
.xi-check > input:checked + .xi-rspan:after {
    /*background: #F1F6FF;*/
}   

/* disabled */
.xi-check > input:disabled + span {
    /*color: #b8b8b8;
    border: 2px solid #86B7FE;
    background: #86B7FE;
    */
}

.x-wait {
    font-size: 24px;    
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景色 */
}

.xp-prog-title {
    height: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

/*=== 欄位分群 ===*/
/* Label + Icon */
.x-group-title {
    font-weight: 600;
    color: #0d6efd;
}

    .x-group-title i {
        font-size: 0.9rem;
        color: #0d6efd;
    }

/* 點狀分隔線 */
.x-group-line {
    color: #0d6efd;
    font-size: 0.9rem;
}

@media (max-width:768px) {
    .x-table {
        background: #fff !important;
    } 
}
