@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7xcd8');
  src:  url('fonts/icomoon.eot?7xcd8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7xcd8') format('truetype'),
    url('fonts/icomoon.woff?7xcd8') format('woff'),
    url('fonts/icomoon.svg?7xcd8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-spin:before {
  content: "\e97c";
}
.ico-checked:before {
  content: "\ea10";
}
.ico-speaker:before {
  content: "\ea27";
}
.ico-arrow4:before {
  content: "\f047";
}
.ico-desc:before {
  content: "\e901";
}
.ico-asc:before {
  content: "\e902";
}
.ico-date:before {
  content: "\f073";
}
.ico-find:before {
  content: "\f002";
}
.ico-delete:before {
  content: "\f00d";
}
.ico-find2:before {
  content: "\f00e";
}
.ico-plus:before {
  content: "\f067";
}
.ico-info:before {
  content: "\e900";
}
.ico-back:before {
  content: "\f148";
}
.ico-mail:before {
  content: "\f003";
}
.ico-home:before {
  content: "\f015";
}
.ico-print:before {
  content: "\f02f";
}
.ico-pen:before {
  content: "\f040";
}
.ico-eye:before {
  content: "\f06f";
}
.ico-save:before {
  content: "\f0c8";
}
.ico-first:before {
  content: "\f100";
}
.ico-last:before {
  content: "\f101";
}
.ico-prev:before {
  content: "\f104";
}
.ico-next:before {
  content: "\f105";
}
.ico-up:before {
  content: "\f106";
}
.ico-down:before {
  content: "\f107";
}
.ico-open:before {
  content: "\f115";
}
.ico-pdf:before {
  content: "\f1c1";
}
.ico-word:before {
  content: "\f1c2";
}
.ico-excel:before {
  content: "\f1c3";
}
.ico-facebook:before {
  content: "\f230";
}
.ico-user:before {
  content: "\f2c0";
}
.ico-reset:before {
  content: "\f01e";
}
.ico-exit:before {
  content: "\ea14";
}
.ico-menu:before {
  content: "\f0c9";
}
.ico-close:before {
  content: "\f114";
}
.ico-copy:before {
  content: "\f0c5";
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn {
    padding: .25rem .5rem !important;
    margin-right: 1px !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}

    /* space in button & icon */
    .btn > i {
        padding-left: 3px;
    }


/* table button with link style */
.btn-link {
    padding: 0 !important;
    text-decoration: none !important;
}

.table-condensed {
    font-size: 14px;
}

/* change height, 38 -> 36 */
.form-control, select.form-control {
    height: 36px !important;
    /*padding: 3px 6px !important;*/
}

textarea.form-control {
    height: auto !important;
}

/* modal */
/* background-color 會覆蓋 border-radius 效果 */
/*
.modal-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #eee; 
}
*/

/* placeholder color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey !important;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgrey !important;
}

/* fix bootstrap 5 */
.table > :not(:first-child) {
    border-top: none !important;
}

.input-group > .form-control,
.input-group > .form-select {
    width: 100% !important;    
}

/* bootstrap datepicker */

.datepicker {
    z-index: 9999 !important;
}

/*日曆按鈕*/
/*
.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(to bottom,#23c6c8,#1ab394);
    background-image: -ms-linear-gradient(to bottom,#23c6c8,#1ab394);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#23c6c8),to(#1ab394));
    background-image: -webkit-linear-gradient(to bottom,#23c6c8,#1ab394);
    background-image: -o-linear-gradient(to bottom,#23c6c8,#1ab394);
    background-image: linear-gradient(to bottom,#23c6c8,#1ab394);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #1ab394 #1ab394 #002a80;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.datepicker {
    min-width: 135px;
    position: relative;
}
.datepicker .input-group-addon {
    padding-left: 0;
    padding-right: 5px;
}
.datepicker input {
    border-right-width: 0;
}
.datepicker .fa-calendar-o {
    cursor: pointer;
    border-left-width: 0;
    border-right-width: 0;
}
.datepicker .fa-calendar {
    cursor: pointer;
    border-left-width: 0;
}
*/


.date {
    width: 180px;
    /*position: relative;*/
}

    .date input {
        border-radius: 4px !important;
    }

    .date .input-group-addon {
        z-index: 500;
        position: relative;
        top: 7px;
        right: 40px;
    }

    /* date icon */
    .date span {
        z-index: 510;
        position: absolute;
        top: 8px;
        right: 5px;
    }


/* font icon(icomoom) */
[class^="ico-"], [class*=" ico-"] {
    padding: 1px;
}

/* icomoon spinner */
@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    vertical-align: middle;
    display: inline-block;
    font-size: 2em;
    animation: anim-rotate 2s infinite steps(12);
}

.note-toolbar {
    background: #eee !important;
}

.note-editable[contenteditable=false] {
    background: #eee !important;
}
/** 
  額外控制輸入欄位寬度(不使用inline style, 避開 CSRF): sm, md, lg
  padding, margin 使用bootstrap 5
  自定寬度pixel (bootstrap 5只有相對寬度)
  x-flag 
  自訂 css 狀態切換可用 x-flag, 例如show/hide prog border
*/

@charset "utf-8";

body {
    /*padding-top: 50px;
    padding-bottom: 20px;
    */
}

/* box 內容水平排列 */
.x-hbox {
    display: flex;
    flex-wrap: wrap; /* 多餘元素自動換行 */
    gap: 6px;      /* 元素之間間距 */
}

/* box 內容垂直排列 */
.x-vbox {
    display: flex;
    flex-direction: column; /* 元素垂直排列 */
    gap: 2px;
}

/* show/hide 有動畫效果, 不是單純flag !! */
.x-on {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.x-off {
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* 全畫面遮罩 */
.x-work {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.05); /* 用稍淡的暗度，避免過黑 */
    z-index: 1050; /* 高於 DataTables，但低於 modal */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 遮罩內訊息框 */
.x-work-msg {
    background: #fff;
    padding: 1em 2em;
    border-radius: 8px;
    font-size: 1.1em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    color: #333;
}

@media (max-width:768px) {
    .x-hide-rwd {
        display: none !important;
    }
}

.x-inline {
    display: inline-block;
}

/* 左右對齊, 外層使用 flex, 可以控制 gap */
.x-left {
    /*text-align: left;*/
    justify-content: flex-start !important;
}
.x-center {
    /*text-align: center;*/
    justify-content: center !important;
}
.x-right {
    /*text-align: right;*/
    justify-content: flex-end !important;
}

/* 高度 pixel */
.x-h10 {
    height: 10px !important;
}
.x-h20 {
    height: 20px !important;
}
.x-h30 {
    height: 30px !important;
}
.x-h40 {
    height: 40px !important;
}
.x-h50 {
    height: 50px !important;
}

/* 寬度 pixel */
.x-w50 {
    width: 50px !important;
}
.x-w60 {
    width: 60px !important;
}
.x-w70 {
    width: 70px !important;
}
.x-w80 {
    width: 80px !important;
}
.x-w90 {
    width: 90px !important;
}
.x-w100 {
    width: 100px !important;
}
.x-w120 {
    width: 120px !important;
}
.x-w140 {
    width: 140px !important;
}
.x-w150 {
    width: 150px !important;
}
.x-w160 {
    width: 160px !important;
}
.x-w180 {
    width: 180px !important;
}
.x-w200 {
    width: 200px !important;
}
.x-w225 {
    width: 225px !important;
}
.x-w250 {
    width: 250px !important;
}
.x-w275 {
    width: 275px !important;
}
.x-w300 {
    width: 300px !important;
}
.x-w400 {
    width: 400px !important;
}
.x-w500 {
    width: 500px !important;
}

/* 最小高度 */
.x-wi80 {
    min-width: 80px !important;
}
.x-wi100 {
    min-width: 100px !important;
}
.x-wi125 {
    min-width: 125px !important;
}
.x-wi250 {
    min-width: 250px !important;
}

/* 視窗高度百分比 */
.x-vh5 {
    margin-top: 5vh !important;
}
.x-vh10 {
    margin-top: 10vh !important;
}
.x-vh15 {
    margin-top: 15vh !important;
}
.x-vh20 {
    margin-top: 20vh !important;
}
.x-vh25 {
    margin-top: 25vh !important; /* 視窗高度的 25% */
}


/* 用在 form裡面的 button */
/*
.x-small-btn {
    padding: 2px 5px;
}
*/

/* 功能按鈕, 空白則為 basic button 
.x-fun-btn {    
}
*/

/* look like link */
.x-link-btn {
    background: none !important;
    /*color: inherit;*/
    border: none;
    padding: 0 !important;
    /*font: inherit;*/
    /*border is optional*/
    border-bottom: 1px solid #444;
    cursor: pointer;
}

/* 用來放多個 button */
.x-btns-box {
    padding: 3px 0 3px 0;
    display: flex; /* 間距會變小 */
    gap: 2px;
}

/* 功能按鈕, 空白則為 basic button */
/* 只設定大小 
.x-btn {
    padding: .25rem .5rem;
    margin-right: 3px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.x-btn-gray {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
*/

/* table row button */
.x-row-btn {
}

/* jquery validate error label */
span.error, label.error {
    color: red;
    margin-bottom: 0 !important;
}

.x-err {
    /*border: #5b48e5;
    border-style: solid;
    border-width: thin;*/
    border: 1px solid #FF8B55 !important;
    /*border-style: solid !important;
    border-width: thin !important;*/
}

/*  
.x-errlab {
    text-align: left;
    font-size: 14px;
    font-weight: lighter;
    color: red;
    display: none;
}
*/

/* (+)相鄰選擇器, 
  1.與 x-error2 相鄰的 error label 要顯示 
  2.在 x-error2box 裡面的 error label 要顯示 
.x-error + .x-errorlabel, .x-errorbox + .x-errorlabel {
    display: block !important;
}
*/

/* 在 x-error2box 裡面的 input 要顯示錯誤框 */
/*.x-errorbox > input,
.x-errorbox > button, .x-errorbox div.x-icheck {
    border: 1px solid #FF8B55 !important;
}
*/
/* 查詢畫面 */

/* 右上方工具列1: 標準模式在col裡面 */
.x-find-tbar {
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

/* 工具列2: span mode */
.x-find-tbar2 {
    display: inline-flex;
    margin-left: 4px;
    gap: 2px;
}

/* ?? find form, use $.slideToggle() */
.x-find-form {
    padding: 10px 0 10px 0;
}

    /* init to open status, toggle will add open class */
    .x-find-form.open {
        /*display: none;*/
        padding: 10px 0 10px 0;
    }

.xf-start, .xf-end, .xf-node {
	cursor: move;
}
.xf-start-text, .xf-end-text, .xf-node-text {
	fill: black;
	cursor: move;
}
/* when hover */
.xf-end.on, .xf-node.on {
	stroke: blue;
	stroke-width: 3px;
}

/* 1.開始節點(also button) */
.xf-start {
	r: 20; /* 半徑, 沒有單位 */
	fill: #E2F4D7;
	background: #E2F4D7;
	stroke: #BAE89F;
	stroke-width: 1px;
	border: #BAE89F 1px solid;
}

/* 2.結束節點(also button) */
.xf-end {
	r: 20;
	fill: #FEE1ED;
	background: #FEE1ED;
	stroke: #FD88BF;
	stroke-width: 1px;
	border: #FD88BF 1px solid;
}

/* 3.一般節點(also button) */
.xf-node {
	fill: #DFDEFE;
	background: #DFDEFE;
	stroke: #B6B4E9;
	stroke-width: 1px;
	border: #B6B4E9 1px solid;
	rx: 5px; /* 水平圓角半徑 */
	ry: 5px; /* 垂直圓角半徑 */
}

/* 4.自動節點?? */
.xf-auto {
	fill: white;
	stroke: black;
	stroke-width: 1px;
}
.xf-auto-text {
    fill: black;	
}

/* 節點文字後的小方塊, 用來拖拉流程線 */
.xf-pin {
	fill: orange;
	stroke: red;
	stroke-width: 1px;
	cursor: crosshair;	/* 十字形狀 */
}

/* 流程線 */
.xf-line {
	fill: none;
	stroke: #898484;
	stroke-width: 2px;
	/*stroke-linejoin: round;*/
}
/* temp line 或無迄點 */
.xf-line.off {
	stroke: red;
}

/* 流程線指定起點位置 */
	.xf-line.xf-way {
		stroke-dasharray: 3,3;
	}

/* line text */
.xf-line-text {
	fill: black;	
}

/* 流程線末端箭頭 */
.xf-arrow {
	stroke: #898484;
	stroke-width: 2px;
	stroke-linecap: round; /*圓邊*/
	cursor: crosshair; /* 十字形狀 */
}

/* context menu */
.xf-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	padding: 0;
	min-width: 100px;
}

	/* Each of the items in the list */
	.xf-menu li {
		padding: 6px 15px;
		cursor: pointer;
		list-style-type: none;
		transition: all .3s ease;
	}

		.xf-menu li:hover {
			background-color: #DEF;
		}
		.xf-menu li.off {
			color: #aaa;
			cursor: not-allowed;
		}


/* form without line */
/* 停用 x-row */
.x-form {
    /*font size same to .form-control*/
    font-size: 16px;
    border: none;
    /*margin-bottom: 0px;*/
}

    /* 停用 x-row
    .x-form .zz_x-row {
        margin: 0;
        border: none;
    }
    */

    .x-form .x-input {
        padding-top: 7px;
        min-height: 43px;
    }
    .x-form.x-border {
        margin: 0 auto;
        padding: 20px 16px;
        border: solid 1px lightgray !important;
        border-radius: 6px;
    }

/* title required sign */
.x-required {
    color: red;
    font-weight: bold;
}

/* animation 
.x-fade.hide {
    display: none;
}
*/

/**
 * checkbox, radio, use pure css, no js
 */
.xi-check {
    display: inline-block;
    position: relative;
    margin-top: 8px;
    padding: 0 10px 0 25px; /* for label pos */
}
    /*
    .xi-check.x-in-dt, .x-radio.x-in-dt {
        margin-top: 10px;
        padding-left: 25px;
    }
    */

/* hide original input element */
.xi-check > input {
    display: none;
}

/* checkbox, span is square/round checked sign */
.xi-check > span {	
	cursor: pointer;
    position: absolute;
	padding: 0;
    top: 0;
    left: 0;

    content: '';
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background: white;
    border: 1px solid #ccc;
	margin-right: 0px;
}

    /* for datatable checkbox, no label */
    .xi-check.x-no-label > span {
        top: -6px !important;
        left: 0 !important;
    }

/* radio sign box */
.xi-rspan {
    border-radius: 50% !important;
}

/*
.xi-check.xd-center, .x-radio.xd-center {	
    padding:0;
}
*/

/* 在 datatable裡面有時會置中 
.xi-check.xd-center > span, .x-radio.xd-center > span {	
	cursor: pointer;
    position: relative;
    vertical-align: middle;
    padding:0;
    margin:0;
}
*/

    /* checkbox方框 style (span:before) 
.xi-check > span:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background: white;
    border: 1px solid #ccc;
	margin-right: 0px;
}
*/

/* checkbox checked sign (span:after) */
.xi-check > input:checked + .xi-cspan:after {
	content: '';
	position: absolute;
    height: 10px;
    width: 5px;
    border: solid #666;
    border-width: 0 2px 2px 0;	
	transform: rotate(45deg);
	top: 3px;
	left: 7px;
}

/* radio checked sign (span:after) */
.xi-check > input:checked + .xi-rspan:after {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    background: #666;
}   

/* disabled style */
.xi-check > input:disabled + span {
    /*color: #b8b8b8;*/
    background: #eee;
    cursor: auto;
}

/* datatable header delete all checkbox */
.xi-check.x-delete-all {
    padding-left: 15px;
}

.x-delete-all-btn {
    margin-top: -2px;
    padding: 2px 3px 2px 0;
    background: red;
}
/* date, datetime */

/* match datepicker.css .date setting, for keep input width same to date at query form */
.x-date-w {
    width: 180px !important;
}

.xi-dt-hour, .xi-dt-min {
    width: 70px; 
    display: inline-block;
}

/* file url */
/* .xi-file-box -> .xi-box-file */
.xi-box-file {
    margin-bottom: 0;
}

.xi-box-file div a:first-child {
    color: blue;
}

/* note ?? */
.xi-box-file div:nth-child(3) {
    color: red;
    font-size: 12px;
}

.xi-file {
    margin-bottom: 0 !important;
}

[data-type="link"] {
    height: 32px;
    display: table-cell;
    vertical-align: middle;
}

/* 輸入欄位的外框 */
.x-input {
    padding-top: 7px;
    min-height: 43px;
}
/* 輸入欄位後面文字 */
.x-input-note{    
}

@media (max-width:768px) {
    .x-input {
        padding-top: 0;
    }
}

/*=== 欄位分群 ===*/
.x-group {
    display: flex;
    align-items: center;
    margin: 20px 0 8px;
}

/* Title + Icon */
.x-group-title {
    /*font-weight: 600;
    color: #0d6efd;*/
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

    .x-group-title i {
        margin-left: 6px;
        /*font-size: 0.9rem;
        color: #0d6efd;*/
    }

/* 點狀分隔線 */
.x-group-line {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    /*color: #0d6efd;
    font-size: 0.9rem;*/
    letter-spacing: 6px; /* 調整點之間的間距 */
}


/* number input */
/* hide stepper: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    text-align: right;
    /* hide stepper: Firefox */
    -moz-appearance: textfield;
}
/* 唯讀欄位 */

/* 在輸入欄位(右邊)的label, line form(畫面有格線) 時欄位無外框 */
.x-lineform .xi-read {
    border: none;
    padding-left: 0;
    background-color: transparent !important; /* 沒有背景色 */
}

/* 在輸入欄位(右邊)的label*/
.x-form .xi-read {
    padding-left: 0;
    border: none;
    margin: 0;
    background-color: transparent !important; /* 沒有背景色 */
}

/* edit field style */
.x-lineform .xi-read2 {
    padding-left: 0;
    background-color: #eee
}
.x-form .xi-read2 {
    background-color: #eee
}


/* span label */
.x-span-label {
    margin: 3px 3px;
}

.x-label {
    padding: 14px 5px 0 15px;
    border: none;
    text-align: right;
}

@media (max-width:768px) {
    .x-label {
        text-align: left;
    }
}

.x-vlabel {
    padding: 14px 0 0 0;
    border: none;
    text-align: left;
}

/* 主畫面 */

.x-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.x-main-top {
    padding: 2px 15px !important;
}
    .x-main-top .navbar-brand {
        cursor: default !important; /* 不會出現小手 */
    }
    .x-main-top a {
        text-decoration: none;
        cursor: pointer;
    }

    .x-main-top li {
        margin: auto 5px;
    }

.x-main-down {
    display: flex;
}

.x-main-right {
    flex-grow: 1;
    transition: 0.5s;
    border-left: 1px solid #CCC;
    overflow-y: auto;
}


/* 左側功能表 */
.x-leftmenu {
    margin-left: 0;
    padding: 0;
    min-width: 250px;
    height: 100%;
    transition: 0.5s;
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    /* flex-shrink: 0;  不因右側內容撐開而縮小 */
    flex-direction: column; /* 垂直排列選單項目 */
}

    .x-leftmenu.x-close {
        transition: 0.5s;
        margin-left: -250px;
    }
    /*
.x-leftmenu.x-close span, 
.x-leftmenu.x-close .x-arrow {
    display: none;
    transition: 0.5s;
}
*/

    /* menu item */
    .x-leftmenu li {
        /*text-indent: 0;*/
        line-height: 42px;
        border-bottom: solid 1px #E5E5E5;
        /*color: #fff;*/
    }

    /* 文字 */
    .x-leftmenu a {
        display: block; /* 選取的有效寬度為100% */
        text-decoration: none !important;
    }

        .x-leftmenu a:hover {
            cursor: pointer;
            text-decoration: none; /* remove underline */
        }

            .x-leftmenu a:hover i {
            }

    /* icon */
    .x-leftmenu i {
        margin-right: 10px;
        padding-left: 12px;
        width: 25px; /* 讓文字對齊 */
    }

    .x-leftmenu .x-arrow:before {
        float: right;
        margin-right: 20px;
        font-family: 'icomoon';
        content: "\f107"; /* down arrow */
    }

    .x-leftmenu .x-arrow.x-open:before {
        content: "\f106"; /* up arrow */
    }

/* 子功能表(第2層) 的外框 */
.x-leftmenu-subbox {
    list-style: none;
    /*
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    */
    padding: 0;
}

    .x-leftmenu-subbox li {
        border: none;
    }

    /* sub menu text */
    .x-leftmenu-subbox a {
        /*font-size: 15px;
        color: #fff;*/
        padding-left: 22px;
    }

.x-leftmenu-fill {
    flex-grow: 1; /* 自動撐滿剩餘空間 */
}
/* 彈出式視窗 */
/*
.x-modal .modal-dialog {
    min-width: 200px;
}
*/

.x-modal .modal-header {
    /*height: 10px;*/
    border-bottom: 1px solid #eee;
    padding: 9px 15px 9px 19px;
}
    .x-modal .modal-header button {
        padding: 10px 10px;
    }

.x-modal .modal-title {
    font-size: 16px;
    color: #3e8cc6;
}

.x-modal .modal-body {
    font-size: 16px;
    padding: 20px 15px 15px 15px;
}

.x-modal .modal-footer {
    border: none;
    padding: 0 20px 10px;
}

.x-modal textarea {
    width: 100%;
}

/* 分頁元件 */

/* 顯示筆數&資訊 */
.x-page-menu {
    float: left;
}

.x-page-btns .x-has-menu {
    justify-content: flex-end !important;
}
.x-page-btns .x-no-menu {
    justify-content: center !important;
}

@media (max-width:768px) {
    .x-page-menu {
        display: none;
    }

    .x-page-btns .x-page-hasmenu {
        justify-content: center !important;
    }
}
/* 右側工作區上方功能名稱 */

/* prog path, razor 只支援 inline style */
.x-prog-path {
    height: 38px;
    padding: 8px 16px;
    font-size: 16px;
    color: #808080;
}

    .x-prog-path ul {
        padding: 10px 0 10px 10px;
        font-size: 15px;
        color: #a5a5a5;
        background: none;
    }

@media (max-width:768px) {
    .x-prog-path {
        font-style: italic;
    }
}

.x-prog {
    margin: 5px 15px 10px 15px;
    padding: 15px;
    border: 1px solid #ddd !important;
    border-radius: 4px;
}
/* 控制不顯示 border */
.x-prog.x-flag {
    border: none !important;
}

@media (max-width:768px) {
    .x-prog {
        border: none !important;
        padding: 0;
    }
}


/* file url */
.x-edit-table td {
    border-top: none;
    border-bottom: none;
}

/* include: read, edit table */
.x-table {
    border-collapse: separate !important;
    width: 100% !important;
    font-size: 15px;
    border-width: 1px 0 0 1px !important;
    border-color: lightgray !important;
    border-style: solid !important;
    margin-bottom: 0;
}

    .x-table th, .x-table td {
        font-weight: normal !important;
        border-width: 0 1px 1px 0 !important;
        border-color: lightgray !important;
        border-style: solid !important;
        vertical-align: middle !important;
        text-align: center !important;
        padding: 0.75rem; /* front web */
    }

    /*
    .x-table th {
        background: #eee;
    }

    .x-table tr:hover {
        background: #F6F6F6;
    }
    */

    .x-table.x-no-hline {
        border-width: 1px 0 1px 1px !important;
    }

        .x-table.x-no-hline td {
            border-width: 0 1px 0 0 !important;
        }

    .x-table th .xi-check > span {
        top: 0 !important;
        left: 0 !important;
    }
    .x-table .xi-check > span {
        top: -15px !important;
        left: 8px !important;
    }

/*
.x-table th .xi-check {
    top: -6px !important;
    left: -3px !important;
}
.x-table tbody .xi-check {
    top: -8px !important;
}
*/

/* 排序 icon 固定右邊, 無作用 !! */
table.dataTable thead th {
    position: relative;
}

    table.dataTable thead th.sorting::after,
    table.dataTable thead th.sorting_asc::after,
    table.dataTable thead th.sorting_desc::after {
        position: absolute;
        right: 8px; /* 固定在右側 */
        /*top: 50%;
        transform: translateY(-50%);*/
    }


/* table v scroll */
.x-table-vscroll {
    border-width: 1px 0 1px 1px !important;
}

.x-table-vscroll tbody {
    display: block;
    overflow-y: scroll;
}

.x-table-vscroll tr {
  display:flex;
}

tr input {
    padding-left: 6px !important;
    padding-right: 6px !important;
}
tr select {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.x-scroll {
    /*max-height: 300px;*/
    overflow-y: auto !important;
}

    .x-scroll thead th {
        position: sticky !important;
        top: 0;
        z-index: 2;
    }

    .x-scroll th, .x-scroll td {
        /*min-width: 150px;*/
    }

@media (max-width:768px) {
    .x-table {
        /*background: #fff;*/
        overflow: hidden;
        border: none;
    }

        /*
        .x-table tr:nth-of-type(2n) {
            background: #eee;
        }
        .x-table th, .x-table td {
            margin: 0.5em 1em;
        }

    .x-table {
        min-width: 100%;
    }
        */

    .x-table tbody {
        padding-top: 3px;
    }

        .x-table th {
            display: none;
        }

        .x-table td {
            text-align: left;
            display: block;
            border: none !important;
        }

            .x-table td:first-child {
                padding-top: 15px;
                border-top: 1px solid lightgray !important;
            }
            .x-table td:last-child {
                padding-bottom: 15px;
            }

            .x-table td:before {
                content: attr(data-rwd-th);
                font-weight: bold;
                /*width: 6.5em;*/
                display: inline-block;
                color: darkblue;
                text-align: left;
            }

        /*
        .x-table th, .x-table td {
            text-align: left;
        }

            .x-table th, .x-table td:before {
                color: #D20B2A;
                font-weight: bold;
            }
        */
}

/* bootstrap alert */
.x-alert {
    position: fixed; 
    top: 48px; 
    right: 3px; 
    width: auto;
    z-index: 9999; 
    border-radius: 5px
}

/*
#x-wait {
    display: none;  
    position: fixed;
    top: 33%;
    left: 50%;
}
*/

/* x-msg class for both xgMsg & xgAns */
.x-msg .modal-dialog {
    min-width: 280px;
    max-width: 480px;
}
.x-msg .modal-header {
    border-bottom: none;
    padding: 9px 15px 9px 19px;
    background-color: none;
}
.x-msg .modal-body {
    font-size: 16px;
    padding: 10px 20px 30px 20px;
}
.x-msg .modal-footer {
    border-bottom: none;
    padding: 10px;
}

/*
#xgArea .modal-dialog {
    width: 480px;
}
*/

/* 顯示時才設定 display flex, 否則會影響其他畫面無法捉取mouse事件 */
.x-image.modal {
    /*display: flex !important;
    align-items: center;
    justify-content: center;*/
}

.x-image .modal-dialog {
    /*display: inline-block;*/
    display: table;
    margin: auto;
    max-width: none;
}

.x-image .modal-content,
.x-image .modal-body,
.x-image .modal-footer {
    background: white;
    border: none;
    padding: 0;
}

.x-image img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
}

/* When the body has the wait class, we turn
the scrollbar off with overflow:hidden */
body .x-show-wait {
    overflow: hidden;
}

/* Anytime the body has the wait class, our
   modal element will be visible */
body.x-show-wait .x-wait {
    display: block;
}

/* color & font size only */

/* === html, body === */
html, body {
    font-size: 16px !important; /* global */
    font-family: 微軟正黑體,Arial,Roboto,Helvetica Neue,Helvetica,sans-serif;
    /*background: #232B3F;*/
}
body, label {
    /* color: #9797AB !important;*/
}

/* chart.js */
.chart-title {
    font-size: 24px;
}

/* bootstrap */
.btn {
    font-size: .875rem !important;
}

/* change height, 38 -> 36 */
.form-control, select.form-control {
    font-size: 16px !important;
}

.form-control:disabled, .form-control[readonly], .form-select:disabled, .form-select[readonly] {
    background-color: #eee !important;
}

.form-control, .form-select {
    /*background: #1A202E;*/
}

/* === 主畫面 === */
.x-main-top {
    height: 45px;
    color: #8E959C;
    background: #D6DDE4;
    border-bottom: 1px solid #8099a5;
}

    .x-main-top i {
        font-size: 20px;
        color: #8E959C;
    }

    .x-main-top a {
        color: #8E959C;
    }

.x-main-down {
    height: calc(100vh - 45px); /* 減去xu-top高度, 右邊捲軸才能與左邊分開!! */
}

.x-main-right {
    background: #f1f1f1;
}

/* === left menu === */
.x-leftmenu {
    background: #394750;
    border-right: 1px solid #8099a5;
}

    /* 分隔線 */
    .x-leftmenu li {
        border-bottom: solid 1px #535a5e;
    }

    /* 文字 */
    .x-leftmenu a {
        font-size: 15px;
    }

    .x-leftmenu a, .x-leftmenu i {
        color: #A9B2B8 !important;
    }

        .x-leftmenu a:hover, .x-leftmenu a:hover i {
            color: #fff !important;
            background: #83CC53;
        }

/* 子功能表 */
.x-leftmenu-subbox {
    background: #4695B2;
}

    .x-leftmenu-subbox a {
        color: #A9B2B8;
    }

        .x-leftmenu-subbox a:hover {
            background: #83CC53 !important;
        }


/* === table === */
.x-table th {
    background: #d6e9f9 !important;
}

.x-table tr:hover {
    background: #e5ecf1 !important;
}

/* === modal === */
.x-modal .modal-header {
    border-bottom: none;
    background: #FAFAFA;
}
.x-modal .modal-body, .x-modal .modal-footer {
    /*background: #404040;*/
}

/* === checkbox/radio === */
/* checkbox, span is square/round checked sign */
.xi-check > span {
    /*border: 2px solid #BFBFBF;
	background: white;*/
}

/* checked background */
.xi-check > input:checked + span {
    /*border: 2px solid #0D6EFD;
	background: #0D6EFD;*/
}

/* checked sign */
.xi-check > input:checked + span:after {
    /*border: 2px solid #F1F6FF;
	background: #1266F1;*/
}

/* radio checked sign 填滿 */
.xi-check > input:checked + .xi-rspan:after {
    /*background: #F1F6FF;*/
}   

/* disabled */
.xi-check > input:disabled + span {
    /*color: #b8b8b8;
    border: 2px solid #86B7FE;
    background: #86B7FE;
    */
}

.x-wait {
    font-size: 24px;    
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景色 */
}

.xp-prog-title {
    height: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

/*=== 欄位分群 ===*/
/* Label + Icon */
.x-group-title {
    font-weight: 600;
    color: #0d6efd;
}

    .x-group-title i {
        font-size: 0.9rem;
        color: #0d6efd;
    }

/* 點狀分隔線 */
.x-group-line {
    color: #0d6efd;
    font-size: 0.9rem;
}

@media (max-width:768px) {
    .x-table {
        background: #fff !important;
    } 
}
