@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fjpwrw');
  src:  url('fonts/icomoon.eot?fjpwrw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fjpwrw') format('truetype'),
    url('fonts/icomoon.woff?fjpwrw') format('woff'),
    url('fonts/icomoon.svg?fjpwrw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-spin:before {
  content: "\e97c";
}
.ico-checked:before {
  content: "\ea10";
}
.ico-desc:before {
  content: "\e901";
}
.ico-asc:before {
  content: "\e902";
}
.ico-date:before {
  content: "\f073";
}
.ico-find:before {
  content: "\f002";
}
.ico-delete:before {
  content: "\f00d";
}
.ico-find2:before {
  content: "\f00e";
}
.ico-plus:before {
  content: "\f067";
}
.ico-info:before {
  content: "\e900";
}
.ico-back:before {
  content: "\f148";
}
.ico-mail:before {
  content: "\f003";
}
.ico-home:before {
  content: "\f015";
}
.ico-print:before {
  content: "\f02f";
}
.ico-pen:before {
  content: "\f040";
}
.ico-eye:before {
  content: "\f06f";
}
.ico-save:before {
  content: "\f0c8";
}
.ico-first:before {
  content: "\f100";
}
.ico-last:before {
  content: "\f101";
}
.ico-prev:before {
  content: "\f104";
}
.ico-next:before {
  content: "\f105";
}
.ico-up:before {
  content: "\f106";
}
.ico-down:before {
  content: "\f107";
}
.ico-open:before {
  content: "\f115";
}
.ico-pdf:before {
  content: "\f1c1";
}
.ico-word:before {
  content: "\f1c2";
}
.ico-excel:before {
  content: "\f1c3";
}
.ico-facebook:before {
  content: "\f230";
}
.ico-user:before {
  content: "\f2c0";
}
.ico-reset:before {
  content: "\f01e";
}
.ico-exit:before {
  content: "\ea14";
}

/* 不歸納到某個元件 */

.xg-hide {
    display: none;
}

@media (max-width:768px) {
    .xg-hide-rwd {
        display: none !important;
    }
}

.xg-inline {
    display: inline-block;
}

.xg-left {
    text-align: left;
}
.xg-center {
    text-align: center;
}
.xg-right {
    text-align: right;
}

.xg-h10 {
    height: 10px !important;
}

.xg-mt0 {
    margin-top: 0 !important;
}
.xg-mt5 {
    margin-top: 5px !important;
}
.xg-mt10 {
    margin-top: 10px !important;
}
.xg-mb0 {
    margin-bottom: 0 !important;
}
.xg-mb5 {
    margin-bottom: 5px !important;
}
.xg-mb10 {
    margin-bottom: 10px !important;
}


/* 用在 form裡面的 button */
.xg-small-btn {
    padding: 2px 5px;
}

/* 功能按鈕, 空白則為 basic button 
.xg-fun-btn {    
}
*/

/* look like link */
.xg-link-btn {
    background: none !important;
    /*color: inherit;*/
    border: none;
    padding: 0 !important;
    /*font: inherit;*/
    /*border is optional*/
    border-bottom: 1px solid #444;
    cursor: pointer;
}

/* 用來放多個 button */
.xg-btns-box {
    padding: 3px 0 3px 0;
    display: flex;  /* 間距會變小 */
}

/* 功能按鈕, 空白則為 basic button */
/* size and gray */
.xg-btn {
    padding: .25rem .5rem;
    margin-right: 3px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/* 只設定大小 */
.xg-btn-size {
    padding: .25rem .5rem;
    margin-right: 3px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.xg-btn-gray {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/* table row button */
.xg-row-btn {
}

/* jquery validate error label */
span.error {
    color: red;
    margin-bottom: 0 !important;
}

.xg-err {
    /*border: #5b48e5;
    border-style: solid;
    border-width: thin;*/
    border: 1px solid #FF8B55 !important;
    /*border-style: solid !important;
    border-width: thin !important;*/
}

/*  */
.xg-errlab {
    text-align: left;
    font-size: 14px;
    font-weight: lighter;
    color: red;
    display: none;
}

/* (+)相鄰選擇器, 
  1.與 xg-error2 相鄰的 error label 要顯示 
  2.在 xg-error2box 裡面的 error label 要顯示 
.xg-error + .xg-errorlabel, .xg-errorbox + .xg-errorlabel {
    display: block !important;
}
*/

/* 在 xg-error2box 裡面的 input 要顯示錯誤框 */
/*.xg-errorbox > input,
.xg-errorbox > button, .xg-errorbox div.xg-icheck {
    border: 1px solid #FF8B55 !important;
}
*/
/* 查詢畫面 */

/* 右上方工具列 */
.xg-find-tbar {
    padding-top: 8px;
}

/* ?? find form, use $.slideToggle() */
.xg-find-form {
    display: none;
    padding: 10px 0 10px 0;
}

    /* init to open status, toggle will add open class */
    .xg-find-form.open {
        /*display: none;*/
        padding: 10px 0 10px 0;
    }

/*
.jtk-demo-main {
    background-color: transparent;
    font-family: Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width:1500px;
    position: relative;
    margin-top:98px;
}

.jtk-demo-canvas {
    margin-left: 160px;
    height:750px;
    max-height:700px;
    border:1px solid #CCC;
    background-color:white;
}

.canvas-wide {
    margin-left:0;
}
*/

.xf-line-label {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    /*border: 1px solid #346789;*/
    cursor: pointer;
}


.zz_demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.xf-node {
    padding: 12px 18px 12px 12px;
    position: absolute;
    z-index: 4;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 13px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.xf-node:hover {
    background-color: #5c96bc;
    color: white;
}

.xf-node.xf-start-node {
    border-color: red;
}
.xf-node.xf-end-node {
    border-color: red;
    border-radius: 50%;
    padding: 12px;
    width: 45px;
    height: 45px;
}
    .xf-node.xf-end-node .xd-name {
        margin-left: -2px !important;
    }
    .xf-node.xf-end-node .xf-ep {
        display: none !important;
    }

/*
.xf-node.xf-auto-node {
    border: 3px solid gray;
    border-radius: 0;
}
*/

/*
.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}
.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}
*/

/*
.xf-line-label.jtk-hover, .jtk-source-hover, .jtk-target-hover {
    background-color: #1e8151;
    color: white;
}
*/

/* end point, class name fix to xf-ep !! */
.xf-ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
        -moz-transition: -moz-box-shadow 0.25s ease-in;
        transition: box-shadow 0.25s ease-in;
}

.xf-ep:hover {
    box-shadow: 0 0 6px black;
}

.zz_statemachine-demo .jtk-endpoint {
    z-index: 3;
}

/* no used
#opened {
    left: 10em;
    top: 5em;
}

#phone1 {
    left: 35em;
    top: 12em;
    width: 7em;
}

#inperson {
    left: 12em;
    top: 23em;
}

#phone2 {
    left: 28em;
    top: 24em;
}

#rejected {
    left: 10em;
    top: 35em;
}
*/

.dragHover {
    border: 2px solid orange;
}

path, .jtk-endpoint { cursor:pointer; }

/* context menu */
/* The whole thing */
.xf-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    min-width: 100px;
}

/* Each of the items in the list */
.xf-menu li {
    padding: 6px 15px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.xf-menu li:hover {
    background-color: #DEF;
}

/* form without line */
/* 停用 xg-row */
.xg-form {
    /*font size same to .form-control*/
    font-size: 16px;
    border: none;
    /*margin-bottom: 0px;*/
}

    /* 停用 xg-row
    .xg-form .zz_xg-row {
        margin: 0;
        border: none;
    }
    */

    .xg-form .xg-input {
        padding-top: 7px;
        min-height: 43px;
    }
    .xg-form.xg-border {
        margin: 0 auto;
        padding: 20px 16px;
        border: solid 1px lightgray !important;
        border-radius: 6px;
    }

/* title required sign */
.xg-required {
    color: red;
    font-weight: bold;
}

/* animation */
.xg-fade.hide {
    display: none;
}

/**
 * checkbox, radio, use pure css, no js
 */
.xi-check {
    display: inline-block;
    position: relative;
    margin-top: 8px;
    padding: 0 10px 0 25px; /* for label pos */
}
    /*
    .xi-check.xg-in-dt, .xg-radio.xg-in-dt {
        margin-top: 10px;
        padding-left: 25px;
    }
    */

/* hide original input element */
.xi-check > input {
    display: none;
}

/* checkbox, span is square/round checked sign */
.xi-check > span {	
	cursor: pointer;
    position: absolute;
	padding: 0;
    top: 0;
    left: 0;

    content: '';
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background: white;
    border: 1px solid #ccc;
	margin-right: 0px;
}

    /* for datatable checkbox, no label */
    .xi-check.xg-no-label > span {
        top: -6px !important;
        left: 0 !important;
    }

/* radio sign box */
.xi-rspan {
    border-radius: 50% !important;
}

/*
.xi-check.xd-center, .xg-radio.xd-center {	
    padding:0;
}
*/

/* 在 datatable裡面有時會置中 
.xi-check.xd-center > span, .xg-radio.xd-center > span {	
	cursor: pointer;
    position: relative;
    vertical-align: middle;
    padding:0;
    margin:0;
}
*/

    /* checkbox方框 style (span:before) 
.xi-check > span:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background: white;
    border: 1px solid #ccc;
	margin-right: 0px;
}
*/

/* checkbox checked sign (span:after) */
.xi-check > input:checked + .xi-cspan:after {
	content: '';
	position: absolute;
    height: 10px;
    width: 5px;
    border: solid #666;
    border-width: 0 2px 2px 0;	
	transform: rotate(45deg);
	top: 3px;
	left: 7px;
}

/* radio checked sign (span:after) */
.xi-check > input:checked + .xi-rspan:after {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    background: #666;
}   

/* disabled style */
.xi-check > input:disabled + span {
    /*color: #b8b8b8;*/
    background: #eee;
    cursor: auto;
}


/* datatable header delete all checkbox */
.xi-check.xg-delete-all {
    padding-left: 15px;
}

.xg-delete-all-btn {
    margin-top: -2px;
    padding: 2px 3px 2px 0;
    background: red;
}

/* match datepicker.css .date setting, for keep input width same to date at query form */
.xg-date-w {
    width: 180px !important;
}


/* file url */
.xi-file-box div a:first-child {
    color: blue;
}

/* note ?? */
.xi-file-box div:nth-child(3) {
    color: red;
    font-size: 12px;
}

.xi-file {
    margin-bottom: 0 !important;
}
/* 輸入欄位的外框 */
.xg-input {
    padding-top: 7px;
    min-height: 43px;
}

@media (max-width:768px) {
    .xg-input {
        padding-top: 0;
    }
}


/* number input */
/* hide stepper: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* hide stepper: Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* 唯讀欄位 */

/* 在輸入欄位(右邊)的label, line form(畫面有格線) 時欄位無外框 */
.xg-lineform .xi-read {
    border: none;
    padding-left: 0;
}

/* 在輸入欄位(右邊)的label*/
.xg-form .xi-read {
    padding-left: 0;
    border: none;
    margin: 0;
}

/* edit field style */
.xg-lineform .xi-read2 {
    padding-left: 0;
    background-color: #eee
}
.xg-form .xi-read2 {
    padding-left: 0;
    margin: 0;
    background-color: #eee
}


/* span label */
.xg-span-label {
    margin: 3px 3px;
}

.xg-label {
    padding: 14px 5px 0 15px;
    border: none;
    text-align: right;
}

@media (max-width:768px) {
    .xg-label {
        text-align: left;
    }
}

.xg-vlabel {
    padding: 14px 0 0 0;
    border: none;
    text-align: left;
}

/* 左側功能表 */
.xg-leftmenu {
    margin-left: 0;
    padding: 0;
    /*min-width: 250px;
    max-width: 300px;*/
    width: 250px;
    height: 100%;
    /*margin: 0;*/
    transition: 0.5s;
    z-index: 1000;
}

.xg-leftmenu.xg-close {
    transition: 0.5s;
    margin-left: -250px;
}
/*
.xg-leftmenu.xg-close span, 
.xg-leftmenu.xg-close .xg-arrow {
    display: none;
    transition: 0.5s;
}
*/

    /* menu item */
    .xg-leftmenu li {
        /*text-indent: 0;*/
        line-height: 42px;
        border-bottom: solid 1px #E5E5E5;
        /*color: #fff;*/
    }

    /* 文字 */
    .xg-leftmenu a {
        display: block; /* 選取的有效寬度為100% */
        text-decoration: none !important;
    }

    .xg-leftmenu a:hover {
        cursor: pointer;
        text-decoration: none; /* remove underline */
    }

.xg-leftmenu a:hover i {
}

/* icon */
.xg-leftmenu i {
    margin-right: 10px;
    padding-left: 12px;
    width: 25px;    /* 讓文字對齊 */
}

    .xg-leftmenu .xg-arrow:before {
        float: right;
        margin-right: 20px;
        font-family: 'icomoon';
        content: "\f107"; /* down arrow */
    }
    .xg-leftmenu .xg-arrow.xg-open:before {
        content: "\f106";   /* up arrow */
    }

/* 子功能表(第2層) 的外框 */
.xg-leftmenu-subbox {
    list-style: none;
    /*
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    */
    padding: 0;
}

    .xg-leftmenu-subbox li {
        border: none;
    }

    /* sub menu text */
    .xg-leftmenu-subbox a {
        /*font-size: 15px;
        color: #fff;*/
        padding-left: 22px;
    }
/* 彈出式視窗 */
/*
.xg-modal .modal-dialog {
    min-width: 200px;
}
*/

.xg-modal .modal-header {
    /*height: 10px;*/
    border-bottom: 1px solid #eee;
    padding: 9px 15px 9px 19px;
}

.xg-modal .modal-title {
    font-size: 16px;
    color: #3e8cc6;
}

.xg-modal .modal-body {
    font-size: 16px;
    padding: 20px 15px 15px 15px;
}

.xg-modal .modal-footer {
    border: none;
    padding: 0 20px 10px;
}

/* 分頁元件 */

/* 顯示筆數&資訊 */
.xg-page-menu {
    float: left;
}

.xg-page-btns .xg-has-menu {
    justify-content: flex-end !important;
}
.xg-page-btns .xg-no-menu {
    justify-content: center !important;
}

@media (max-width:768px) {
    .xg-page-menu {
        display: none;
    }

    .xg-page-btns .xg-page-hasmenu {
        justify-content: center !important;
    }
}
/* 右側工作區上方功能名稱 */

/* prog path, razor 只支援 inline style */
.xg-prog-path {
    height: 38px;
    padding: 8px 16px;
    font-size: 16px;
    color: #808080;
}

    .xg-prog-path ul {
        padding: 10px 0 10px 10px;
        font-size: 15px;
        color: #a5a5a5;
        background: none;
    }

@media (max-width:768px) {
    .xg-prog-path {
        font-style: italic;
    }
}

.xg-prog {
    margin: 5px 15px 10px 15px;
    padding: 15px;
    border: 1px solid #ddd !important;
    border-radius: 4px;
}

@media (max-width:768px) {
    .xg-prog {
        border: none !important;
        padding: 0;
    }
}


/* file url */
.xg-edit-table td {
    border-top: none;
    border-bottom: none;
}

/* include: read, edit table */
.xg-table {
    border-collapse: separate !important;
    width: 100% !important;
    font-size: 15px;
    border-width: 1px 0 0 1px !important;
    border-color: lightgray !important;
    border-style: solid !important;
}

    .xg-table th, .xg-table td {
        font-weight: normal !important;
        border-width: 0 1px 1px 0 !important;
        border-color: lightgray !important;
        border-style: solid !important;
        vertical-align: middle !important;
        text-align: center !important;
        padding: 0.75rem; /* front web */
    }

    .xg-table th {
        background: #eee;
    }

    .xg-table tr:hover {
        background: #F6F6F6;
    }

    .xg-table.xg-no-hline {
        border-width: 1px 0 1px 1px !important;
    }

        .xg-table.xg-no-hline td {
            border-width: 0 1px 0 0 !important;
        }

    .xg-table .xi-check > span {
        top: -15px !important;
        left: 8px !important;
    }

/*
.xg-table th .xi-check {
    top: -6px !important;
    left: -3px !important;
}
.xg-table tbody .xi-check {
    top: -8px !important;
}
*/

/* table v scroll */
.xg-table-vscroll {
    border-width: 1px 0 1px 1px !important;
}

.xg-table-vscroll tbody {
    display: block;
    overflow-y: scroll;
}

.xg-table-vscroll tr {
  display:flex;
}

tr input {
    padding-left: 6px !important;
    padding-right: 6px !important;
}
tr select {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

@media (max-width:768px) {
    .xg-table {
        background: #fff;
        overflow: hidden;
        border: none;
    }

        /*
        .xg-table tr:nth-of-type(2n) {
            background: #eee;
        }
        .xg-table th, .xg-table td {
            margin: 0.5em 1em;
        }

    .xg-table {
        min-width: 100%;
    }
        */

    .xg-table tbody {
        padding-top: 3px;
    }

        .xg-table th {
            display: none;
        }

        .xg-table td {
            text-align: left;
            display: block;
            border: none !important;
        }

            .xg-table td:first-child {
                padding-top: 15px;
                border-top: 1px solid lightgray !important;
            }
            .xg-table td:last-child {
                padding-bottom: 15px;
            }

            .xg-table td:before {
                content: attr(data-rwd-th);
                font-weight: bold;
                /*width: 6.5em;*/
                display: inline-block;
                color: darkblue;
                text-align: left;
            }

        /*
        .xg-table th, .xg-table td {
            text-align: left;
        }

            .xg-table th, .xg-table td:before {
                color: #D20B2A;
                font-weight: bold;
            }
        */
}

/* bootstrap alert */
.xg-alert {
    position: fixed; 
    top: 48px; 
    right: 3px; 
    width: auto;
    z-index: 9999; 
    border-radius: 5px
}

/*
#xg-wait {
    display: none;  
    position: fixed;
    top: 33%;
    left: 50%;
}
*/

/* xg-msg class for both xgMsg & xgAns */
.xg-msg .modal-dialog {
    min-width: 280px;
    max-width: 480px;
}
.xg-msg .modal-header {
    border-bottom: none;
    padding: 9px 15px 9px 19px;
    background-color: none;
}
.xg-msg .modal-body {
    font-size: 16px;
    padding: 10px 20px 30px 20px;
}
.xg-msg .modal-footer {
    border-bottom: none;
    padding: 10px;
}

/*
#xgArea .modal-dialog {
    width: 480px;
}
*/

.xg-image .modal-body {
    padding: 3px;
}
.xg-image .modal-footer {
    border: none;
    padding: 5px;
}
.xg-image img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

/* When the body has the wait class, we turn
   the scrollbar off with overflow:hidden */
body.xg-show-wait {
    overflow: hidden;
}

/* Anytime the body has the wait class, our
   modal element will be visible */
body.xg-show-wait .xg-wait {
    display: block;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn {
    font-size: 14px;
}

/* table button with link style */
.btn-link {
    padding: 0 !important;
    text-decoration: none !important;
}

.table-condensed {
    font-size: 14px;
}

/* change height, 38 -> 36 */
.form-control, select.form-control {
    font-size: 16px !important;
    height: 36px !important;
    /*padding: 3px 6px !important;*/
}

    .form-control:disabled, .form-control[readonly], .form-select:disabled, .form-select[readonly] {
        background-color: #eee !important;
    }

textarea.form-control {
    height: auto !important;
}

/* modal */
/* background-color 會覆蓋 border-radius 效果 */
/*
.modal-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #eee; 
}
*/

/* placeholder color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey !important;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgrey !important;
}

/* fix bootstrap 5 */
.table > :not(:first-child) {
    border-top: none !important;
}

.input-group > .form-control,
.input-group > .form-select {
    width: 100% !important;    
}

/* jQuery Datatables */

/* 筆數起迄&合計 */
.dataTables_info {
    padding-top: 4px !important;
}

.dataTables_wrapper {
    padding: 0;
}

    .dataTables_wrapper .dataTables_length, .dataTables_info, .toolbar {
        float: left;
    }


/* change sorting icon to font-awesome
    see: https://datatables.net/blog/2014-06-06
*/
table.dataTable thead th {
    position: relative;
    background-image: none !important; /* Remove the DataTables bootstrap integration styling */
}

    /* Bruce add, 否則會出現2個icon !! */
    /*
    table.dataTable thead th.sorting:before,
    table.dataTable thead th.sorting_asc:before,
    table.dataTable thead th.sorting_desc:before {
        display: none;
    }

    table.dataTable thead th.sorting:after,
    table.dataTable thead th.sorting_asc:after,
    table.dataTable thead th.sorting_desc:after {
        position: absolute;
        top: 15px;
        right: 8px;
        display: block;
        font-family: FontAwesome;
    }

    table.dataTable thead th.sorting:after {
        content: "\f0dc";
        opacity: 0.2;
    }

    table.dataTable thead th.sorting_asc:after {
        content: "\f0de";
        opacity: 0.8;
    }

    table.dataTable thead th.sorting_desc:after {
        content: "\f0dd";
        opacity: 0.8;
    }
    */

/* table header 上下排序 icon */
/* rewirte dataTables.bootstrap4.css */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: '\e902' !important;
    font-family: 'icomoon' !important;
	font-weight: lighter !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: '\e901' !important;
    font-family: 'icomoon' !important;
	font-weight: lighter !important;
}

/* bootstrap datepicker */

.datepicker {
    z-index: 9999 !important;
}

/*日曆按鈕*/
/*
.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(to bottom,#23c6c8,#1ab394);
    background-image: -ms-linear-gradient(to bottom,#23c6c8,#1ab394);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#23c6c8),to(#1ab394));
    background-image: -webkit-linear-gradient(to bottom,#23c6c8,#1ab394);
    background-image: -o-linear-gradient(to bottom,#23c6c8,#1ab394);
    background-image: linear-gradient(to bottom,#23c6c8,#1ab394);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #1ab394 #1ab394 #002a80;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.datepicker {
    min-width: 135px;
    position: relative;
}
.datepicker .input-group-addon {
    padding-left: 0;
    padding-right: 5px;
}
.datepicker input {
    border-right-width: 0;
}
.datepicker .fa-calendar-o {
    cursor: pointer;
    border-left-width: 0;
    border-right-width: 0;
}
.datepicker .fa-calendar {
    cursor: pointer;
    border-left-width: 0;
}
*/


.date {
    width: 180px;
    /*position: relative;*/
}

    .date input {
        border-radius: 4px !important;
    }

    .date .input-group-addon {
        z-index: 500;
        position: relative;
        top: 7px;
        right: 40px;
    }

    /* date icon */
    .date span {
        z-index: 510;
        position: absolute;
        top: 8px;
        right: 5px;
    }

@charset "utf-8";

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-size: 14px !important;
}

body, label {
    color: #424243;
    font-family: 微軟正黑體,Arial,Roboto,Helvetica Neue,Helvetica,sans-serif;
}

/* space in button & icon */
.btn > i {
    padding-left: 3px;
}

/* icomoon spinner */
@keyframes anim-rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
.spinner {
    vertical-align: middle;
    display: inline-block;
    font-size: 2em;
    animation: anim-rotate 2s infinite steps(12);
}

/* font icon(icomoom) */
[class^="ico-"], [class*=" ico-"] {
    padding: 1px;
}

.note-toolbar {
    background: #eee !important;
}

.note-editable[contenteditable=false] {
    background: #eee !important;
}
/* color & font size only */

/* ==== html, body ==== */
html, body {
    font-size: 16px !important; /* global */
    font-family: 微軟正黑體,Arial,Roboto,Helvetica Neue,Helvetica,sans-serif;
    /*background: #232B3F;*/
}
body, label {
    /* color: #9797AB !important;*/
}
.form-control, .form-select {
    /*background: #1A202E;*/
}

/* ==== left menu ==== */
.xg-leftmenu {
    background: #E0E0E0;
    border-right: 1px solid #C1C1C1;
}

/* li(item),a(文字),i(icon) */
.xg-leftmenu li {
    /*
    color: #fff;
    border-bottom: solid 1px #E5E5E5;
    */
}

    /* 文字 */
    .xg-leftmenu a {
        font-size: 15px;
        color: #555 !important;
    }


.xg-leftmenu a, .xg-leftmenu i {
    color: #222222 !important;
}

.xg-leftmenu a:hover, .xg-leftmenu a:hover i {
    color: #222222 !important;
    background: #CFCFCF;
}
/*
.xg-leftmenu a:hover i {
    color: #222222;
    background: #EEEEEE;
}
*/

/* 子功能表 */
.xg-leftmenu-subbox {
    background: #FAFAFA;
}

    .xg-leftmenu-subbox a {
        color: #222222;
    }

    .xg-leftmenu-subbox a:hover {
        background: #EEEEEE !important;
    }

.xg-table th {
    background: #E0E0E0;
}

.xg-table tr:hover {
    background: #FAFAFA;
}


/* ==== modal ==== */
.xg-modal .modal-header {
    border-bottom: none;
    background: #FAFAFA;
}
.xg-modal .modal-body, .xg-modal .modal-footer {
    /*background: #404040;*/
}


/* === checkbox/radio === */
/* checkbox, span is square/round checked sign */
.xi-check > span {
    /*border: 2px solid #BFBFBF;
	background: white;*/
}

/* checked background */
.xi-check > input:checked + span {
    /*border: 2px solid #0D6EFD;
	background: #0D6EFD;*/
}

/* checked sign */
.xi-check > input:checked + span:after {
    /*border: 2px solid #F1F6FF;
	background: #1266F1;*/
}

/* radio checked sign 填滿 */
.xi-check > input:checked + .xi-rspan:after {
    /*background: #F1F6FF;*/
}   

/* disabled */
.xi-check > input:disabled + span {
    /*color: #b8b8b8;
    border: 2px solid #86B7FE;
    background: #86B7FE;
    */
}

.xg-wait {
    font-size: 24px;    
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景色 */
}

.xp-prog-title {
    height: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

/* chart.js */
.chart-title {
    font-size: 24px;
}