<script @_Fun3.Script("SetPwd")></script>
<vc:xg-prog-path dto='new { path = "設定密碼" }' />
<div class="x-prog">
    <div id="divEdit">
        <form class='x-form' id='eform'>
            <vc:xi-text dto='new() { Title = "舊密碼", Fid = "OldPwd", MaxLen = 30, IsPwd = true }' />
            <vc:xi-text dto='new() { Title = "新密碼", Fid = "NewPwd", MaxLen = 30, Required = true, IsPwd = true }' />
            <vc:xi-text dto='new() { Title = "確認新密碼", Fid = "NewPwd2", MaxLen = 30, Required = true, IsPwd = true }' />
        </form>
    </div>
</div>
<div class='col-md-6 d-flex x-center'>
    <button type='button' class='btn btn-success' data-onclick='_vo.onSave'>儲存<i class='ico-save'></i></button>
</div>