<script nonce="@_Fun.Nonce">
    /// <reference path="../../wwwroot/js/base/CrudR.js" />
    /// <reference path="../../wwwroot/js/base/EditMany.js" />
    $(function () {
        _me.init();
    });

    var _me = {
        /** @@type {CrudR} */
        crudR: null,
        /** @@type {EditMany} */
        mUserRole: null,

        init: function () {        
            //datatable config
            var config = {
                columns: [
                    { data: 'Account', sortable: true },
                    { data: 'Name', sortable: true },
                    { data: 'DeptName' },
                    { data: 'Status', sortable: true },
                    { data: '_Fun' },
                ],
                columnDefs: [
				    { targets: [3], render: function(data) {
                        return _me.crudR.dtStatusName(data);
                    }},
				    { targets: [4], render: (data, type, full) => {
                        return _me.crudR.dtCrudFun(full.Id, full.Name, true, true, true);
                    }},
                ],
            };

            //initial
            this.mUserRole = new EditMany('Id', 'divRoles');
            this.mUserRole.initUrm(['Id', 'RoleId']);    //for urm
            new CrudR(config, [null, this.mUserRole]);
        },

    }; //class
</script>

<vc:xg-prog-path />
<div class="x-prog">
    <div id="divRead">
        <form id='formRead' class='x-form'>
            <div class="row">
                @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "帳號", Fid = "Account", MaxLen = 20, InRow = true })
                @await Component.InvokeAsync("XgFindTbar", new XgFindTbarDto { HasReset = true })
            </div>
            @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "用戶名稱", Fid = "Name", MaxLen = 20 })
            @await Component.InvokeAsync(XiEstr.Select, new XiSelectDto { Title = "部門", Fid = "DeptId", Rows = ViewBag.Depts })
        </form>

        <div class='x-btns-box'>
            @await Component.InvokeAsync("XgCreate")
        </div>
        <table id="tableRead" class="table x-table" cellspacing="0">
            <thead>
                <tr>
                    <th>帳號</th>
                    <th>用戶名稱</th>
                    <th>部門名稱</th>
                    <th>資料狀態</th>
                    <th>維護</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="divEdit" class="d-none">
        <form id='eform' class='x-form mb-0'>
            @await Component.InvokeAsync(XiEstr.Hide, new XiHideDto { Fid = "Id" })
            @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "帳號", Fid = "Account", Required = true, MaxLen = 20 })
            @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "用戶名稱", Fid = "Name", Required = true, MaxLen = 20 })
            @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "員工編號", Fid = "EmpNo", Required = true, MaxLen = 10 })
            @*
            @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = R["Pwd"].Value, Fid = "Pwd", IsPwd = true, MaxLen = 32 })
            *@
            @await Component.InvokeAsync(XiEstr.Select, new XiSelectDto { Title = "部門名稱", Fid = "DeptId", Rows = ViewBag.Depts })
            @await Component.InvokeAsync(XiEstr.Check, new XiCheckDto { Title = "資料狀態", Fid = "Status", Label = "啟用" })
        </form>

        <form class='x-form'>
            <div class='row'>
                <div class='col-md-2 x-label'>角色清單</div>
                <div class='col-md-8 x-input'>
                    <!-- table for control rows column has same width -->
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td id="divRoles">
                                    @foreach (IdStrDto row in ViewBag.Roles)
                                    {
                                        @await Component.InvokeAsync(XiEstr.Check, new XiCheckDto { Fid = row.Id, Value = row.Id, Label = row.Str })
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <vc:xg-save-back />
    </div>
</div>